src/Node_RED.json
[{"id":"c599849b.a91f38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cefda5c5.afe5c8","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"5facf45f.05cf5c","type":"tab","label":"Diode 2.0","disabled":true,"info":""},{"id":"d327f136.f7b35","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d987807d.6f29e","type":"ui_tab","name":"Variables sistema","icon":"dashboard","disabled":false,"hidden":false},{"id":"a7450594.e8c0e8","type":"ui_group","name":"Gr치ficos","tab":"75f42a57.72bfb4","order":2,"disp":true,"width":"10","collapse":true},{"id":"aa81baeb.e117b8","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#129e00","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#387416","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#387416","edited":true},"page-titlebar-backgroundColor":{"value":"#387416","edited":false},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#d6d6d6","edited":true},"group-textColor":{"value":"#000000","edited":true},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#000000","edited":true},"widget-backgroundColor":{"value":"#b4bf22","edited":true},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Lombricultura","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"181d5d66.f2b193","type":"ui_group","name":"Default","tab":"75f42a57.72bfb4","order":1,"disp":true,"width":"6","collapse":false},{"id":"b0f10ca8.bac46","type":"ui_group","name":"Variables plantas","tab":"d987807d.6f29e","order":4,"disp":true,"width":"8","collapse":true},{"id":"aebd0484.82c348","type":"ui_group","name":"Variables ambiente","tab":"d987807d.6f29e","order":3,"disp":true,"width":"8","collapse":true},{"id":"ffe71e2f.bacb9","type":"mqtt-broker","name":"broker.shiftr.io","broker":"tfm-lombricultura.cloud.shiftr.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"natisbar/Lombricultura","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6893c748.fa48b8","type":"telegram bot","botname":"MiHuertaBot","usernames":"natisbar","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"272d9dcf.dd7842","type":"telegram bot","botname":"MiHuertaBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"c3a7dfed.91e93","type":"telegram bot","botname":"MiHuertaBot","usernames":"","chatids":"500449756","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"fd9c9d1e.271a9","type":"telegram bot","botname":"MyGardenBot","usernames":"","chatids":"","baseapiurl":"https://api.telegram.org","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"bd069947.041808","type":"chatbot-context-store","name":"","contextStorage":"memory","contextParams":""},{"id":"ccbd41f3.e34c9","type":"chatbot-telegram-node","botname":"MyGardenBot","usernames":"","providerToken":"","polling":"1000","store":"bd069947.041808","log":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"9d0da4ea.0a1388","type":"chatbot-telegram-node","botname":"Mygarden2","usernames":"","providerToken":"","polling":"1000","store":"bd069947.041808","log":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"9ca1403e.76505","type":"ui_group","name":"Group 3","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"89749fb7.87f01","type":"ui_group","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"ab397e95.29ebe","type":"ui_group","name":"Inputs","tab":"","order":1,"disp":false,"width":"6"},{"id":"4e7edda4.417004","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"ae0413d2.d9b4d","type":"ui_group","name":"Dashboard","tab":"","order":1,"disp":true,"width":"4","collapse":false},{"id":"ef860366.cd032","type":"ui_group","name":"Charts","tab":"","order":3,"disp":true,"width":"6"},{"id":"881ee563.ffb7f8","type":"ui_group","name":"Chart Scaling","tab":"","order":2,"disp":true,"width":"3","collapse":true},{"id":"2f6e8bab.46edd4","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"38"},{"id":"9e271ef8.1ed8","type":"ui_group","name":"Dashboard","tab":"20d4bd59.a21a22","order":1,"disp":true,"width":"4","collapse":false},{"id":"c4bae040.b8a2","type":"ui_group","name":"Charts","tab":"20d4bd59.a21a22","order":3,"disp":true,"width":"6"},{"id":"480f6c25.dd7064","type":"ui_group","name":"Chart Scaling","tab":"20d4bd59.a21a22","order":2,"disp":true,"width":"3","collapse":true},{"id":"20d4bd59.a21a22","type":"ui_tab","name":"DS Pilot Extrusion Line","icon":"dashboard","order":2},{"id":"9c808bd7.e8b228","type":"ui_group","name":"Alertas","tab":"d987807d.6f29e","order":5,"disp":true,"width":"6","collapse":false},{"id":"2d3b7cb7.38d564","type":"serial-port","serialport":"COM9","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"3bf46f7d.d7f2c","type":"ui_group","name":"Variables lombrices","tab":"d987807d.6f29e","order":1,"disp":true,"width":"8","collapse":false},{"id":"b8a0083c.a78028","type":"serial-port","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"75f42a57.72bfb4","type":"ui_tab","name":"Control y visualizaci칩n general","icon":"dashboard","disabled":false,"hidden":false},{"id":"75aac7c.5226638","type":"ui_group","name":"Control riego","tab":"75f42a57.72bfb4","order":1,"disp":true,"width":"6","collapse":false},{"id":"90e3eea0.97ae8","type":"ui_group","name":"Alertas","tab":"75f42a57.72bfb4","order":4,"disp":true,"width":"6","collapse":false},{"id":"3e999925.bf7cb6","type":"ui_group","name":"Diodes","tab":"4435d05.16bbb3","order":1,"disp":true,"width":"3","collapse":true},{"id":"4435d05.16bbb3","type":"ui_tab","name":"Beta","icon":"dashboard","disabled":false,"hidden":false},{"id":"caca1f1c.76174","type":"ui_group","name":"Normas","tab":"75f42a57.72bfb4","order":3,"disp":true,"width":"6","collapse":false},{"id":"fca3383a.349368","type":"ui_spacer","name":"spacer","group":"aebd0484.82c348","order":4,"width":4,"height":1},{"id":"ed21ae28.3cc2","type":"ui_spacer","name":"spacer","group":"aebd0484.82c348","order":5,"width":4,"height":1},{"id":"c0f43ba3.2c5658","type":"ui_spacer","name":"spacer","group":"aebd0484.82c348","order":6,"width":4,"height":1},{"id":"737344bd.da1c8c","type":"ui_spacer","name":"spacer","group":"aebd0484.82c348","order":7,"width":4,"height":1},{"id":"81baf851.031d58","type":"serial-port","serialport":"COM8","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"8c764125.8c2ae","type":"serial in","z":"c599849b.a91f38","name":"Arduino","serial":"2d3b7cb7.38d564","x":470,"y":1120,"wires":[["c52abf19.c5922","76168835.7296d8"]]},{"id":"eefeeb4f.5564e8","type":"contrib-json","z":"c599849b.a91f38","engine":"JSONSelect","command":"jq","expr":":root > .Hum","complete":"property","prop":"payload","name":"","x":890,"y":1200,"wires":[["794c12a5.b75a2c","e16aa3eb.bf649"]]},{"id":"794c12a5.b75a2c","type":"ui_gauge","z":"c599849b.a91f38","name":"","group":"aebd0484.82c348","order":2,"width":4,"height":4,"gtype":"donut","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"80","x":1080,"y":1200,"wires":[]},{"id":"63cc59e9.9a0b28","type":"contrib-json","z":"c599849b.a91f38","engine":"JSONSelect","command":"jq","expr":":root > .Temp","complete":"property","prop":"payload","name":"","x":890,"y":1240,"wires":[["5eddb089.5d0f8","d6b88c5f.e375e"]]},{"id":"5eddb089.5d0f8","type":"ui_gauge","z":"c599849b.a91f38","name":"","group":"aebd0484.82c348","order":1,"width":4,"height":4,"gtype":"donut","title":"Temperatura","label":"춿C","format":"{{value}}","min":"-50","max":"50","colors":["#ca3838","#0fe600","#ca3838"],"seg1":"14","seg2":"35","x":1090,"y":1240,"wires":[]},{"id":"8758e375.0ad03","type":"mqtt out","z":"c599849b.a91f38","name":"tfm-lombricultura.cloud.shiftr.io","topic":"tfm-lombricultura/Lombricultura","qos":"0","retain":"","broker":"ffe71e2f.bacb9","x":1330,"y":1120,"wires":[]},{"id":"463f7c8e.cf7474","type":"chatbot-message","z":"c599849b.a91f38","name":"start","message":[{"message":"Hola {{firstName}}, bienvenido a MyGardenBot 游꺔 Su asistente personalizado 游뱄 que le permitir치 conocer el estado de su siembra. Interactue con los diferentes comandos de acuerdo con el tipo de consulta o control que desee hacer."}],"language":"none","x":750,"y":820,"wires":[["15087eba.125a41"]]},{"id":"fa497a0.ddf6888","type":"chatbot-telegram-receive","z":"c599849b.a91f38","bot":"9d0da4ea.0a1388","botProduction":"","x":130,"y":800,"wires":[["cb58a2d.262726"]]},{"id":"15087eba.125a41","type":"chatbot-telegram-send","z":"c599849b.a91f38","bot":"9d0da4ea.0a1388","botProduction":"","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1050,"y":860,"wires":[]},{"id":"cb58a2d.262726","type":"chatbot-rules","z":"c599849b.a91f38","name":"Reglas_telegram","rules":[{"type":"command","command":"/start"},{"type":"command","command":"/humout"},{"type":"command","command":"/tempout"},{"type":"command","command":"/valva_planta_open"},{"type":"command","command":"/valva_planta_close"},{"type":"command","command":"/valvh_open"},{"type":"command","command":"/valvh_close"},{"type":"command","command":"/status"},{"type":"command","command":"/mode_on"},{"type":"command","command":"/mode_off"},{"type":"command","command":"/valva_lombriz_open"},{"type":"command","command":"/valva_lombriz_close"}],"outputs":12,"x":350,"y":800,"wires":[["463f7c8e.cf7474","5fcd09c4.480ed8"],["829f0f6b.17d6f","5fcd09c4.480ed8"],["f42aa540.25edd8","5fcd09c4.480ed8"],["5fcd09c4.480ed8","2f66f65e.9e4c2a"],["5fcd09c4.480ed8","2f66f65e.9e4c2a"],["5fcd09c4.480ed8","d0dc0c6c.7048a"],["5fcd09c4.480ed8","d0dc0c6c.7048a"],["2658702.1f7f69"],["5fcd09c4.480ed8","fc126605.0df678"],["5fcd09c4.480ed8","fc126605.0df678"],["eda8b8c6.7ad528","5fcd09c4.480ed8"],["eda8b8c6.7ad528","5fcd09c4.480ed8"]]},{"id":"e16aa3eb.bf649","type":"change","z":"c599849b.a91f38","name":"GlobalHum","rules":[{"t":"set","p":"Hum","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1200,"wires":[[]]},{"id":"d6b88c5f.e375e","type":"change","z":"c599849b.a91f38","name":"GlobalTemp","rules":[{"t":"set","p":"Temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1240,"wires":[[]]},{"id":"829f0f6b.17d6f","type":"chatbot-message","z":"c599849b.a91f38","name":"Humedad","message":[{"message":"La humedad ambiente es: {{Hum}}%"}],"language":"none","x":760,"y":860,"wires":[["15087eba.125a41"]]},{"id":"f42aa540.25edd8","type":"chatbot-message","z":"c599849b.a91f38","name":"Temperatura","message":[{"message":"La temperatura ambiente es: {{Temp}}춿C "}],"language":"none","x":770,"y":900,"wires":[["15087eba.125a41"]]},{"id":"e877c698.ae19b8","type":"ui_switch","z":"c599849b.a91f38","name":"","label":"Valv. Agua Plantas","tooltip":"","group":"75aac7c.5226638","order":2,"width":"3","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1670,"y":380,"wires":[["d14438.03197bc8"]]},{"id":"97e504bb.9be128","type":"ui_switch","z":"c599849b.a91f38","name":"","label":"Valv. Humus","tooltip":"","group":"75aac7c.5226638","order":4,"width":"6","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1930,"y":560,"wires":[["85f63334.a9956","82c2cd18.cb4c4"]]},{"id":"d14438.03197bc8","type":"change","z":"c599849b.a91f38","name":"GlobalAguaPlantas","rules":[{"t":"set","p":"agua_plantas","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1890,"y":380,"wires":[["a28bb3c3.c809a"]]},{"id":"85f63334.a9956","type":"change","z":"c599849b.a91f38","name":"GlobalHumus","rules":[{"t":"set","p":"humus","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2140,"y":500,"wires":[["be978708.d61fc8"]]},{"id":"a28bb3c3.c809a","type":"template","z":"c599849b.a91f38","name":"variables agua y modo","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"valap\":{{global.agua_plantas}},\"valal\":{{global.agua_lombriz}},\"modo\":{{global.modo}}}\n","output":"str","x":2140,"y":400,"wires":[["604cd5ef.5c939c","bda44435.281a68"]]},{"id":"6478dc7e.aa6784","type":"function","z":"c599849b.a91f38","name":"Open_close_valva_valvh","func":"newmsg = {};\nmsgtelegram = {};\naux2=global.get(\"modo\");\naguap=global.get(\"agua_plantas\");\nagual=global.get(\"agua_lombriz\");\nhumus=global.get(\"humus\");\nvar aux=msg.payload.toString();\nif (aux2==false){\n    if (aux==\"/valva_planta_open\" && aguap==false) {\n        newmsg.payload = true;\n        msgtelegram.payload = \"La valvula de agua fue abierta\";\n        return [newmsg,null,msgtelegram,null,null];\n    } \n    else if (aux==\"/valva_planta_close\" && aguap==true) {\n        newmsg.payload = false;\n        msgtelegram.payload = \"La valvula de agua fue cerrada\";\n        return [newmsg,null,msgtelegram,null,null];\n    }\n    else if (aux==\"/valva_lombriz_open\" && agual==false) {\n        newmsg.payload = true;\n        msgtelegram.payload = \"La valvula de agua fue abierta\";\n        return [null,null,msgtelegram,null,newmsg];\n    } \n    else if (aux==\"/valva_lombriz_close\" && agual==true) {\n        newmsg.payload = false;\n        msgtelegram.payload = \"La valvula de agua fue cerrada\";\n        return [null,null,msgtelegram,null,newmsg];\n    }\n    else if (aux==\"/valvh_open\" && humus==false) {\n        newmsg.payload = true;\n        msgtelegram.payload = \"El proceso de riego de humus activo\";\n        return [null,newmsg,null,msgtelegram,null];\n    }\n    else if (aux==\"/valvh_close\" && humus==true) {\n        newmsg.payload = false;\n        msgtelegram.payload = \"No es posible parar el proceso de riego, espere a que finalice\";\n        return [null,newmsg,null,msgtelegram,null];\n    }\n    else {\n        msgtelegram.payload = \"La valvula ya estaba en ese estado\";\n        return [null,null,msgtelegram,msgtelegram,null];\n    }\n}\nelse {\n    if (aux==\"/valva_planta_open\" || aux==\"/valva_planta_close\" || aux==\"/valva_lombriz_open\" || aux==\"/valva_lombriz_close\" || aux==\"/valvh_open\" || aux==\"/valvh_close\") {\n    msgtelegram.payload = \"Actualmente el modo autom치tico est치 activado, desactivelo con el comando: /mode_off para poder ejercer control sobre el sistema.\";\n    return [newmsg,newmsg,msgtelegram,msgtelegram,newmsg];\n    } \n}\n\n","outputs":5,"noerr":0,"initialize":"","finalize":"","x":790,"y":500,"wires":[["e877c698.ae19b8"],["97e504bb.9be128"],["5f4f986b.a0c748"],["d07957f2.e4beb8"],["74bb2bf5.03fec4"]]},{"id":"5fcd09c4.480ed8","type":"contrib-json","z":"c599849b.a91f38","engine":"JSONSelect","command":"jq","expr":":root > .content","complete":"property","prop":"payload","name":"","x":560,"y":520,"wires":[["6478dc7e.aa6784","82628240.10bde","1bac539d.8279fc"]]},{"id":"2658702.1f7f69","type":"chatbot-message","z":"c599849b.a91f38","name":"status","message":[{"message":"**Variables ambiente:**\nTemperatura: {{Temp}}춿C\nHumedad: {{Hum}}%\nLux: {{Lux}}\n\n**Variables Plantas:**\nTemperatura: {{TempP}}춿C\nHumedad: {{HumP}}%\n\n**Variables Lombrices:**\nTemperatura: {{TempL}}춿C\nHumedad: {{HumL}}%\n\n**Elementos de control:**\nModo: {{global.modo}}\nValvula agua plantas - estado: {{global.agua_plantas}}\nValvula agua lombrices - estado: {{global.agua_lombriz}}\nRiego humus - estado: {{global.humus}}"}],"language":"none","x":750,"y":940,"wires":[["15087eba.125a41"]]},{"id":"240aca01.e83f76","type":"template","z":"c599849b.a91f38","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"Hum\":{{global.Hum}},\"Temp\":{{global.Temp}},\"modo\":{{global.modo}},\"valvap\":{{global.agua_plantas}},\"valval\":{{global.agua_lombriz}},\"valvh\":{{global.humuson}},\"valvhhumus\":{{global.valvh_humus}},\"valvhagua\":{{global.valvh_agua}},\"TempL\":{{global.TempL}},\"TempP\":{{global.TempP}},\"HumP\":{{global.HumP}},\"HumL\":{{global.HumL}}}","output":"json","x":1100,"y":1120,"wires":[["8758e375.0ad03","9dabaa1f.ed5df8"]]},{"id":"c499d31a.3ee99","type":"ui_switch","z":"c599849b.a91f38","name":"","label":"Modo autom치tico","tooltip":"","group":"75aac7c.5226638","order":1,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check-square","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-check-square","offcolor":"gray","x":1330,"y":680,"wires":[["a436a556.5d6f38","2f2c8be4.21c464","432aa65b.4313e8"]]},{"id":"a436a556.5d6f38","type":"change","z":"c599849b.a91f38","name":"GlobalModo","rules":[{"t":"set","p":"modo","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"modo","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":920,"wires":[["5073fbef.a0fd24","3ccca210.b2d22e"]]},{"id":"d64d321c.01967","type":"chatbot-message","z":"c599849b.a91f38","name":"Valva","message":[{"message":"{{msgvalva}}"}],"language":"none","x":750,"y":740,"wires":[["15087eba.125a41"]]},{"id":"2f66f65e.9e4c2a","type":"delay","z":"c599849b.a91f38","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":740,"wires":[["d64d321c.01967"]]},{"id":"5f4f986b.a0c748","type":"change","z":"c599849b.a91f38","name":"GlobalMsgValva","rules":[{"t":"set","p":"msgvalva","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":720,"wires":[[]]},{"id":"d2021f96.aa423","type":"chatbot-message","z":"c599849b.a91f38","name":"Valvh","message":[{"message":"{{msgvalvh}}"}],"language":"none","x":750,"y":780,"wires":[["15087eba.125a41"]]},{"id":"d0dc0c6c.7048a","type":"delay","z":"c599849b.a91f38","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":780,"wires":[["d2021f96.aa423"]]},{"id":"d07957f2.e4beb8","type":"change","z":"c599849b.a91f38","name":"GlobalMsgValvh","rules":[{"t":"set","p":"msgvalvh","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":760,"wires":[[]]},{"id":"82628240.10bde","type":"function","z":"c599849b.a91f38","name":"on_off_modo","func":"newmsg = {};\nnewmsg2 = {};\nmsgtelegram = {};\nvar aux=msg.payload.toString();\nif (aux==\"/start\") {\n    newmsg.payload = false;\n    return [newmsg,newmsg,null];\n} \nelse if (aux==\"/mode_on\") {\n    msgtelegram.payload = \"Modo autom치tico activado\";\n    newmsg.payload = true;\n    newmsg2.payload = false;\n    return [newmsg,newmsg2,msgtelegram];\n} \nelse if (aux==\"/mode_off\") {\n    msgtelegram.payload = \"Modo autom치tico desactivado\";\n    newmsg.payload = false;\n    return [newmsg,null,msgtelegram];\n}\nreturn [newmsg,null,null];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":750,"y":580,"wires":[["c499d31a.3ee99"],["e877c698.ae19b8","97e504bb.9be128","74bb2bf5.03fec4","1bac539d.8279fc"],["2bc8f2d7.68823e"]]},{"id":"2bc8f2d7.68823e","type":"change","z":"c599849b.a91f38","name":"GlobalMsgModo","rules":[{"t":"set","p":"msgmodo","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":800,"wires":[[]]},{"id":"df900ffc.351dd","type":"chatbot-message","z":"c599849b.a91f38","name":"Modo","message":[{"message":"{{msgmodo}}"}],"language":"none","x":750,"y":980,"wires":[["15087eba.125a41"]]},{"id":"fc126605.0df678","type":"delay","z":"c599849b.a91f38","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":980,"wires":[["df900ffc.351dd"]]},{"id":"2f2c8be4.21c464","type":"switch","z":"c599849b.a91f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1370,"y":600,"wires":[["4a2bf5d4.e5104c","2f17e131.d6099e","ec0de9b8.f89168","d51c333.4112ed"],["4703cbfa.041ab4","9a75a612.8195b8","438b3288.f14abc","6ab4a9bd.4d0ea8"]]},{"id":"4a2bf5d4.e5104c","type":"change","z":"c599849b.a91f38","name":"disabled modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"agua_plantas","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":480,"wires":[["e877c698.ae19b8"]]},{"id":"4703cbfa.041ab4","type":"change","z":"c599849b.a91f38","name":"enable modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"agua_plantas","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":520,"wires":[["e877c698.ae19b8"]]},{"id":"2f17e131.d6099e","type":"change","z":"c599849b.a91f38","d":true,"name":"disabled modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"humus","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":600,"wires":[["97e504bb.9be128"]]},{"id":"9a75a612.8195b8","type":"change","z":"c599849b.a91f38","d":true,"name":"enable modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"humus","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":640,"wires":[["97e504bb.9be128"]]},{"id":"c4933619.9e7f88","type":"function","z":"c599849b.a91f38","name":"Data chart","func":"msgledhum = {};\nmsgledtemp = {};\nmsgledlux = {};\nmsgledhuml = {};\nmsgledtempl = {};\nmsgledhump = {};\nmsgledtempp = {};\nt=Date.now();\n\nmsgledhum.payload = false;\nmsgledtemp.payload = false;\nmsgledlux.payload = false;\nmsgledhuml.payload = false;\nmsgledtempl.payload = false;\nmsgledhump.payload = false;\nmsgledtempp.payload = false;\n\nvar temp = msg.payload.Temp\nvar templ = msg.payload.Templombriz\nvar tempp = msg.payload.Tempplanta\nvar hum = msg.payload.Hum\nvar huml = msg.payload.Humlombriz\nvar hump = msg.payload.Humplanta\nvar huminl = global.get(\"Humminl\");\nvar huminp = global.get(\"Humminp\");\nvar humaxl = global.get(\"Hummaxl\");\nvar humaxp = global.get(\"Hummaxp\");\n\nvar Temminl = global.get(\"Temminl\");\nvar Temmaxl = global.get(\"Temmaxl\");\n\n// var alerta = \"Peligro\";\n\nvar graft = [\n    {topic:\"Abiente\", payload: temp, timestamp: t},\n    {topic:\"Planta\", payload: tempp, timestamp: t},\n    {topic:\"Lombrices\", payload: templ, timestamp: t}\n    ];\n\nvar grafh = [\n    {topic:\"Abiente\", payload: hum, timestamp: t},\n    {topic:\"Planta\", payload: hump, timestamp: t},\n    {topic:\"Lombrices\", payload: huml, timestamp: t}\n    ];\n\nif(hum>=80){\n    msgledhum.payload = true;\n    // msghum.payload = alerta;\n}\n\nif(temp>=35){\n    msgledtemp.payload = true;\n    // msgtemp.payload = alerta;\n}\n\n//REVISI칍N VARIABLES LOMBRICES\nif(templ<=huminl || templ>=humaxl){\n    msgledtempl.payload = true;\n    // msgtemp.payload = alerta;\n}\n\nif(huml<=huminl || huml>=humaxl){\n    msgledhuml.payload = true;\n    // msgtemp.payload = alerta;\n}\n\n//REVISI칍N VARIABLES PLANTAS\nif(hump<=huminl || hump>=humaxl){\n    msgledtempp.payload = true;\n    // msgtemp.payload = alerta;\n}\n\nreturn [graft, msgledhum, null, msgledtemp, grafh, msgledhuml, msgledtempl, msgledtempp, null];","outputs":9,"noerr":0,"initialize":"","finalize":"","x":890,"y":1640,"wires":[["2fbac41d.f2e3cc"],["d3abf737.01e9f8"],["860d9801.f7f9b8"],["c4659a6a.40a698"],["73f43668.264438"],["4669f1e8.60954"],["dfdfe669.184d98"],["b7403f86.6ec4"],["10072e22.908092"]]},{"id":"2fbac41d.f2e3cc","type":"ui_chart","z":"c599849b.a91f38","name":"","group":"a7450594.e8c0e8","order":2,"width":"10","height":"6","label":"Datos Temperaturas","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#c3d100","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1140,"y":1580,"wires":[[]]},{"id":"d3abf737.01e9f8","type":"ui_led","z":"c599849b.a91f38","group":"90e3eea0.97ae8","order":2,"width":"6","height":"1","label":"Hum ambiente","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"green","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Led Hum Ambiente","x":1130,"y":1660,"wires":[]},{"id":"860d9801.f7f9b8","type":"ui_audio","z":"c599849b.a91f38","d":true,"name":"","group":"9c808bd7.e8b228","voice":"Google espa침ol de Estados Unidos","always":false,"x":1100,"y":1740,"wires":[]},{"id":"c4659a6a.40a698","type":"ui_led","z":"c599849b.a91f38","group":"90e3eea0.97ae8","order":1,"width":"6","height":"1","label":"Temp ambiente","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"green","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Led Temp Ambiente","x":1140,"y":1700,"wires":[]},{"id":"70466254.88d96c","type":"ui_gauge","z":"cefda5c5.afe5c8","name":"","group":"9e271ef8.1ed8","order":1,"width":"0","height":"0","gtype":"gage","title":"Melt Temperature","label":"춿F","format":"{{value|number:2}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"700","seg2":"900","x":690,"y":430,"wires":[]},{"id":"2992be42.4bb6b2","type":"ui_chart","z":"cefda5c5.afe5c8","name":"","group":"c4bae040.b8a2","order":1,"width":0,"height":0,"label":"Melt Temperature","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"awaiting data...","dot":false,"ymin":"0","ymax":"1000","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":690,"y":360,"wires":[[]]},{"id":"7dda56d7.a24c88","type":"ui_text_input","z":"cefda5c5.afe5c8","name":"","label":"Ymax","tooltip":"","group":"480f6c25.dd7064","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"ymax","x":210,"y":250,"wires":[["3a327b6f.dbe7a4"]]},{"id":"ab589fd3.08d9","type":"ui_text_input","z":"cefda5c5.afe5c8","name":"","label":"Ymin","tooltip":"","group":"480f6c25.dd7064","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"ymin","x":210,"y":210,"wires":[["3a327b6f.dbe7a4"]]},{"id":"52ff4ae1.a7cac4","type":"inject","z":"cefda5c5.afe5c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":180,"y":400,"wires":[["1f6bed5c.fafa93"]]},{"id":"7cab122e.784c2c","type":"function","z":"cefda5c5.afe5c8","name":"Format chart","func":"\nvar x = flow.get('chartprops').xaxis.min; //time back in milliseconds\nvar d = new Date().getTime() - x //current time in milliseconds - desired time\ndelete msg.payload;\ndelete msg.topic;\n\n//send all modification in one go\nmsg.ui_control = { \n    options: {\n        scales: {\n            xAxes: [{\n                type: 'time',\n                time: {\n                    min: d\n                }\n            }],\n            yAxes: [{\n            ticks: {\n                suggestedMin: flow.get('chartprops').yaxis.min,\n                suggestedMax: flow.get('chartprops').yaxis.max\n            }\n        }]\n        }\n    }\n}\nreturn msg; \n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":340,"wires":[["2992be42.4bb6b2"]]},{"id":"73f1e3be.f64f8c","type":"ui_text_input","z":"cefda5c5.afe5c8","name":"","label":"tiempo","tooltip":"","group":"480f6c25.dd7064","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"time","x":210,"y":160,"wires":[["3a327b6f.dbe7a4"]]},{"id":"af03cda2.7215e","type":"inject","z":"cefda5c5.afe5c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":120,"wires":[["81cc7000.25c7b"]]},{"id":"81cc7000.25c7b","type":"function","z":"cefda5c5.afe5c8","name":"init chart options in flow","func":"var chartprops = flow.get('chartprops') || {}\n// set same values as in chart configuration\nchartprops.xaxis = {min:3600000}//time frame\nchartprops.yaxis = {min:0,max:1000}//vertical axis limits\nflow.set('chartprops',chartprops)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":120,"wires":[[]]},{"id":"3a327b6f.dbe7a4","type":"function","z":"cefda5c5.afe5c8","name":"Store chart options","func":"var chartprops = flow.get('chartprops');\noperador = {};\noperador.payload = global.get('tiempos');\nvar op =  operador.payload;\n\nif (msg.topic == 'tiempos'){\n    flow.set('chartprops',chartprops)\n}\n\nswitch(msg.topic){\n    case 'time':{\n        chartprops.xaxis.min = msg.payload * operador.payload;\n        break\n    }\n    case 'ymin':{\n        chartprops.yaxis.min = msg.payload;\n        break\n    }\n    case 'ymax':{\n        chartprops.yaxis.max = msg.payload;\n        break\n    }\n}\n\nflow.set('chartprops',chartprops)\n// message continues to flow but in next node properties will be deleted\n// it will be used only as change event\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":210,"wires":[["7cab122e.784c2c","6e70e088.a35ec"]]},{"id":"b89ca981.40b7f8","type":"inject","z":"cefda5c5.afe5c8","name":"Resend chart format","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":200,"y":340,"wires":[["7cab122e.784c2c"]]},{"id":"3ccde5c7.4c0bfa","type":"comment","z":"cefda5c5.afe5c8","name":"Resend - read comments !","info":"If minimum time is sent to chart, it will be absolute\nChart does not take it as time frame\nSo if change is in minutes, it is reasonable enough\nto send new min value to chart in every minute\nto hold time frame constant","x":210,"y":300,"wires":[]},{"id":"1f6bed5c.fafa93","type":"random","z":"cefda5c5.afe5c8","name":"random between 1 - 500","low":"1","high":"500","inte":"false","property":"payload","x":370,"y":400,"wires":[["2992be42.4bb6b2","70466254.88d96c"]]},{"id":"9ee347ca.a5b9e8","type":"ui_dropdown","z":"cefda5c5.afe5c8","name":"","label":"","tooltip":"","place":"Select option","group":"480f6c25.dd7064","order":3,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"Minutos","value":60000,"type":"num"},{"label":"Horas","value":3600000,"type":"num"},{"label":"Semana","value":604800000,"type":"num"}],"payload":"","topic":"tiempos","x":80,"y":60,"wires":[["e745cad4.823a48","3a327b6f.dbe7a4"]]},{"id":"6e70e088.a35ec","type":"debug","z":"cefda5c5.afe5c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":140,"wires":[]},{"id":"e745cad4.823a48","type":"change","z":"cefda5c5.afe5c8","name":"","rules":[{"t":"set","p":"tiempos","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":40,"wires":[[]]},{"id":"42afaa8d.da69f4","type":"contrib-json","z":"c599849b.a91f38","engine":"JSONSelect","command":"jq","expr":":root > .Lux","complete":"property","prop":"payload","name":"","x":890,"y":1280,"wires":[["7fcc865f.8221b8","89f5a0c3.825ef"]]},{"id":"7fcc865f.8221b8","type":"ui_gauge","z":"c599849b.a91f38","name":"","group":"aebd0484.82c348","order":3,"width":"8","height":"4","gtype":"compass","title":"Lux","label":"Lx","format":"{{value}}","min":"0","max":"120000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":1280,"wires":[]},{"id":"89f5a0c3.825ef","type":"change","z":"c599849b.a91f38","name":"GlobalLux","rules":[{"t":"set","p":"Lux","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":1280,"wires":[[]]},{"id":"10072e22.908092","type":"ui_led","z":"c599849b.a91f38","group":"90e3eea0.97ae8","order":3,"width":"6","height":"1","label":"Lux Ambiente","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"green","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Led Lux","x":1100,"y":1780,"wires":[]},{"id":"604cd5ef.5c939c","type":"serial out","z":"c599849b.a91f38","name":"","serial":"2d3b7cb7.38d564","x":2350,"y":380,"wires":[]},{"id":"5f3e5e7b.ec341","type":"contrib-json","z":"c599849b.a91f38","engine":"JSONSelect","command":"jq","expr":":root > .Templombriz","complete":"property","prop":"payload","name":"","x":920,"y":1360,"wires":[["ab0b2f03.77f7","367c9100.b74d"]]},{"id":"c52abf19.c5922","type":"json","z":"c599849b.a91f38","name":"JSON entrada arduino","property":"payload","action":"","pretty":false,"x":680,"y":1100,"wires":[["eefeeb4f.5564e8","63cc59e9.9a0b28","c4933619.9e7f88","42afaa8d.da69f4","5f3e5e7b.ec341","63211795.7d7ab8","105a7883.b90837","5f544195.509c4","1e7874d9.1cf28b","fcd97d8a.4ef19"]]},{"id":"63211795.7d7ab8","type":"contrib-json","z":"c599849b.a91f38","engine":"JSONSelect","command":"jq","expr":":root > .Tempplanta","complete":"property","prop":"payload","name":"","x":910,"y":1400,"wires":[["b741ac37.9aaac","b1500343.dabf9"]]},{"id":"105a7883.b90837","type":"contrib-json","z":"c599849b.a91f38","engine":"JSONSelect","command":"jq","expr":":root > .Humlombriz","complete":"property","prop":"payload","name":"","x":910,"y":1440,"wires":[["7e22355.4abedcc","cd083180.2d6b3"]]},{"id":"5f544195.509c4","type":"contrib-json","z":"c599849b.a91f38","engine":"JSONSelect","command":"jq","expr":":root > .Humplanta","complete":"property","prop":"payload","name":"","x":910,"y":1480,"wires":[["2d789801.b7af48","20abfcba.c73534"]]},{"id":"2d789801.b7af48","type":"ui_gauge","z":"c599849b.a91f38","name":"","group":"b0f10ca8.bac46","order":2,"width":"8","height":"5","gtype":"donut","title":"Hum. Planta","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"80","x":1130,"y":1480,"wires":[]},{"id":"7e22355.4abedcc","type":"ui_gauge","z":"c599849b.a91f38","name":"","group":"3bf46f7d.d7f2c","order":2,"width":"4","height":"5","gtype":"donut","title":"Hum. Lombrices","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"80","x":1140,"y":1440,"wires":[]},{"id":"ab0b2f03.77f7","type":"ui_gauge","z":"c599849b.a91f38","name":"","group":"3bf46f7d.d7f2c","order":1,"width":"4","height":"5","gtype":"donut","title":"Temp. Lombrices","label":"춿C","format":"{{value}}","min":"-50","max":"50","colors":["#ca3838","#0fe600","#ca3838"],"seg1":"14","seg2":"35","x":1150,"y":1360,"wires":[]},{"id":"b741ac37.9aaac","type":"ui_gauge","z":"c599849b.a91f38","name":"","group":"b0f10ca8.bac46","order":1,"width":"8","height":"5","gtype":"donut","title":"Temp. Planta","label":"춿C","format":"{{value}}","min":"-50","max":"50","colors":["#ca3838","#0fe600","#ca3838"],"seg1":"14","seg2":"35","x":1130,"y":1400,"wires":[]},{"id":"367c9100.b74d","type":"change","z":"c599849b.a91f38","name":"GlobalTempL","rules":[{"t":"set","p":"TempL","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":1360,"wires":[[]]},{"id":"b1500343.dabf9","type":"change","z":"c599849b.a91f38","name":"GlobalTempP","rules":[{"t":"set","p":"TempP","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":1400,"wires":[[]]},{"id":"cd083180.2d6b3","type":"change","z":"c599849b.a91f38","name":"GlobalHumL","rules":[{"t":"set","p":"HumL","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":1440,"wires":[["3ccca210.b2d22e"]]},{"id":"20abfcba.c73534","type":"change","z":"c599849b.a91f38","name":"GlobalHumP","rules":[{"t":"set","p":"HumP","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":1480,"wires":[[]]},{"id":"73f43668.264438","type":"ui_chart","z":"c599849b.a91f38","name":"","group":"a7450594.e8c0e8","order":3,"width":"10","height":"6","label":"Datos Humedades","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#c3d100","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1130,"y":1620,"wires":[[]]},{"id":"71fc8c2.7e15974","type":"inject","z":"c599849b.a91f38","name":"Inicializar estado v치lvulas off's","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"false","payloadType":"bool","x":1010,"y":300,"wires":[["e877c698.ae19b8","c499d31a.3ee99","97e504bb.9be128","74bb2bf5.03fec4","3deca3a4.144e0c","9dd48962.03bcd8","d0b8cc5c.e88bc","f87afd9e.7b37c","68287e5a.fed65","a80e9f48.1fff8","792d78fc.796af8","c2dfde94.d95df"]]},{"id":"a02da425.d46d5","type":"inject","z":"5facf45f.05cf5c","name":"Suspend","props":[{"p":"enabled","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":100,"y":300,"wires":[["3cad32a8.067e76"]]},{"id":"7a23eae9.cd1384","type":"inject","z":"5facf45f.05cf5c","name":"Resume","props":[{"p":"enabled","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":100,"y":340,"wires":[["cc00de15.89d4d8"]]},{"id":"3cad32a8.067e76","type":"ui_button","z":"5facf45f.05cf5c","name":"Pause","group":"3e999925.bf7cb6","order":0,"width":0,"height":0,"passthru":false,"label":"Pause","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Pause","payloadType":"str","topic":"Control","x":370,"y":280,"wires":[["4b6e5e93.4914e8","cd5a583e.c8ec88","56e72bad.24ea6c"]]},{"id":"cc00de15.89d4d8","type":"ui_button","z":"5facf45f.05cf5c","name":"Resume","group":"3e999925.bf7cb6","order":0,"width":0,"height":0,"passthru":false,"label":"Resume","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Resume","payloadType":"str","topic":"Control","x":380,"y":340,"wires":[["cd5a583e.c8ec88","bec9ea3b.bf282","2daf4ddb.117182"]]},{"id":"cd5a583e.c8ec88","type":"gate","z":"5facf45f.05cf5c","name":"Pause Or Resume","controlTopic":"control","defaultState":"open","openCmd":"Resume","closeCmd":"Pause","toggleCmd":"","defaultCmd":"","statusCmd":"","persist":false,"x":560,"y":140,"wires":[["c0bd2bb.0cde158"]]},{"id":"c0bd2bb.0cde158","type":"debug","z":"5facf45f.05cf5c","name":"Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":140,"wires":[]},{"id":"45bfabc3.537124","type":"inject","z":"5facf45f.05cf5c","name":"On (Blue)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5,8","payloadType":"str","x":100,"y":120,"wires":[["cd5a583e.c8ec88"]]},{"id":"9f20e8c3.16bf68","type":"inject","z":"5facf45f.05cf5c","name":"Off (Blue)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"9,6","payloadType":"str","x":100,"y":160,"wires":[["cd5a583e.c8ec88"]]},{"id":"4b6e5e93.4914e8","type":"change","z":"5facf45f.05cf5c","name":"Disable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":200,"wires":[["3cad32a8.067e76"]]},{"id":"2daf4ddb.117182","type":"change","z":"5facf45f.05cf5c","name":"Enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":360,"wires":[["3cad32a8.067e76"]]},{"id":"bec9ea3b.bf282","type":"change","z":"5facf45f.05cf5c","name":"Disable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":440,"wires":[["cc00de15.89d4d8"]]},{"id":"56e72bad.24ea6c","type":"change","z":"5facf45f.05cf5c","name":"Enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":280,"wires":[["cc00de15.89d4d8"]]},{"id":"1e7874d9.1cf28b","type":"contrib-json","z":"c599849b.a91f38","engine":"JSONSelect","command":"jq","expr":":root > .Ultras","complete":"property","prop":"payload","name":"","x":900,"y":1520,"wires":[["5094d4d6.580f6c","bffa3e30.071fb"]]},{"id":"5094d4d6.580f6c","type":"ui_gauge","z":"c599849b.a91f38","name":"","group":"3bf46f7d.d7f2c","order":3,"width":"8","height":"5","gtype":"wave","title":"Humus mezclado","label":"cm","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"80","x":1150,"y":1520,"wires":[]},{"id":"bffa3e30.071fb","type":"change","z":"c599849b.a91f38","name":"GlobalLlenhumus","rules":[{"t":"set","p":"Llenhumus","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1520,"wires":[[]]},{"id":"74bb2bf5.03fec4","type":"ui_switch","z":"c599849b.a91f38","name":"","label":"Valv. Agua Lombriz","tooltip":"","group":"75aac7c.5226638","order":3,"width":"3","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1410,"y":820,"wires":[["7efc0678.651498"]]},{"id":"7efc0678.651498","type":"change","z":"c599849b.a91f38","name":"GlobalAguaLombriz","rules":[{"t":"set","p":"agua_lombriz","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":820,"wires":[["a28bb3c3.c809a"]]},{"id":"ec0de9b8.f89168","type":"change","z":"c599849b.a91f38","name":"disabled modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"agua_lombriz","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":720,"wires":[["74bb2bf5.03fec4"]]},{"id":"438b3288.f14abc","type":"change","z":"c599849b.a91f38","name":"enable modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"agua_lombriz","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1810,"y":760,"wires":[["74bb2bf5.03fec4"]]},{"id":"aa597af1.79d978","type":"chatbot-message","z":"c599849b.a91f38","name":"Valva","message":[{"message":"{{msgvalva}}"}],"language":"none","x":750,"y":700,"wires":[["15087eba.125a41"]]},{"id":"eda8b8c6.7ad528","type":"delay","z":"c599849b.a91f38","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":700,"wires":[["aa597af1.79d978"]]},{"id":"26d157a3.e34e58","type":"ui_date_picker","z":"c599849b.a91f38","name":"","label":"Fecha inicio","group":"caca1f1c.76174","order":5,"width":0,"height":0,"passthru":true,"topic":"","x":1790,"y":1300,"wires":[["9f631bf6.6741f8"]]},{"id":"6fa14333.6334cc","type":"ui_numeric","z":"c599849b.a91f38","name":"","label":"Frecuencia (en semanas)","tooltip":"","group":"caca1f1c.76174","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":1790,"y":1340,"wires":[["5337e6f7.1ef3e8"]]},{"id":"66332c96.b09f04","type":"change","z":"c599849b.a91f38","name":"Fecha inicio riego","rules":[{"t":"set","p":"fecha_inicio","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":1300,"wires":[["b7a8344d.723058"]]},{"id":"e3b49537.4fe978","type":"change","z":"c599849b.a91f38","name":"Frecuencia riego","rules":[{"t":"set","p":"frec_riego","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":1340,"wires":[["b7a8344d.723058"]]},{"id":"9dabaa1f.ed5df8","type":"csv","z":"c599849b.a91f38","name":"","sep":";","hdrin":false,"hdrout":"once","multi":"one","ret":"\\n","temp":"Hum,Temp,modo,valvap,valval,valvh,valvhhumus,valvhagua,TempL,TempP,HumP,HumL,Lux","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1250,"y":1080,"wires":[["ca35e8a6.524368"]]},{"id":"e567c3ee.0086c","type":"file","z":"c599849b.a91f38","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1550,"y":1080,"wires":[[]]},{"id":"ca35e8a6.524368","type":"change","z":"c599849b.a91f38","name":"NameFile","rules":[{"t":"set","p":"filename","pt":"msg","to":"fechadatos","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1080,"wires":[["e567c3ee.0086c"]]},{"id":"f9101100.70b5c","type":"change","z":"c599849b.a91f38","name":"Fecha datos - HOY","rules":[{"t":"set","p":"fechadatos","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2330,"y":780,"wires":[[]]},{"id":"fcd97d8a.4ef19","type":"delay","z":"c599849b.a91f38","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":1120,"wires":[["240aca01.e83f76"]]},{"id":"82c2cd18.cb4c4","type":"switch","z":"c599849b.a91f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2110,"y":560,"wires":[["3aefadd8.168072"]]},{"id":"3deca3a4.144e0c","type":"change","z":"c599849b.a91f38","name":"BoolProceso","rules":[{"t":"set","p":"proceso","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2490,"y":560,"wires":[[]]},{"id":"68575345.fb4cec","type":"inject","z":"c599849b.a91f38","name":"Inicializar estado v치lvulas off's","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"0","payloadType":"num","x":530,"y":420,"wires":[["36136ba7.606314"]]},{"id":"36136ba7.606314","type":"change","z":"c599849b.a91f38","name":"Estado del  proceso","rules":[{"t":"set","p":"state","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":420,"wires":[[]]},{"id":"9dd48962.03bcd8","type":"change","z":"c599849b.a91f38","name":"Finalizacion estados","rules":[{"t":"set","p":"endstate","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":140,"wires":[[]]},{"id":"d0b8cc5c.e88bc","type":"change","z":"c599849b.a91f38","name":"InitBoolProceso","rules":[{"t":"set","p":"proceso","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":480,"wires":[[]]},{"id":"f87afd9e.7b37c","type":"change","z":"c599849b.a91f38","name":"valvh_humus","rules":[{"t":"set","p":"valvh_humus","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":180,"wires":[["c4802142.7feb"]]},{"id":"68287e5a.fed65","type":"change","z":"c599849b.a91f38","name":"valvh_agua","rules":[{"t":"set","p":"valvh_agua","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":220,"wires":[["d4c396a7.20cf28"]]},{"id":"a80e9f48.1fff8","type":"change","z":"c599849b.a91f38","name":"humuson","rules":[{"t":"set","p":"humuson","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":260,"wires":[["cc8e3537.d26398"]]},{"id":"295bba50.96c6e6","type":"comment","z":"c599849b.a91f38","name":"Var mezcla humus","info":"Inicializaci칩n en false de todas las variables involucradas en proceso de mezcla de humus","x":1450,"y":200,"wires":[]},{"id":"d230ba81.4e5208","type":"switch","z":"c599849b.a91f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":2290,"y":720,"wires":[["c373d636.25ebe8"],["8ef25c0.2bcc1a8"]]},{"id":"c373d636.25ebe8","type":"change","z":"c599849b.a91f38","name":"disabled modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"humus","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":2520,"y":700,"wires":[["97e504bb.9be128"]]},{"id":"8ef25c0.2bcc1a8","type":"change","z":"c599849b.a91f38","name":"enable modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"humus","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":2510,"y":740,"wires":[["97e504bb.9be128"]]},{"id":"76168835.7296d8","type":"debug","z":"c599849b.a91f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":1140,"wires":[]},{"id":"1bac539d.8279fc","type":"debug","z":"c599849b.a91f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":540,"wires":[]},{"id":"c148b761.c841e8","type":"function","z":"c599849b.a91f38","name":"EvaluacionRango","func":"newmsg = {};\nnewmsg2 = {};\n\nvar modo = msg.payload.modo;\nvar huml = global.get(\"HumL\");\nvar hump = global.get(\"HumP\");\nvar huminl = global.get(\"Humminl\");\nvar huminp = global.get(\"Humminp\");\nvar aux = false;\nvar aux2 = false;\n\n// var humL = msg.payload.Humlombriz\nvar humP = msg.payload.Humplanta;\n//var huminl = msg.payload.Humminl;\n// var huminp = msg.payload.Humminp;\n\n// humL = parseInt(humL, 10);\n\nif(modo){\n    if(huml<(huminl-5)){\n        newmsg.payload = true;\n        aux = true;\n    }\n    else{\n        newmsg.payload = false;\n        aux = true;\n    }\n    \n    if(hump<(huminp-5)){\n        newmsg2.payload = true;\n        aux2 = true;\n    }\n    else{\n        newmsg2.payload = false;\n        aux2 = true;\n    }\n}\n\n\nif((aux==true && aux2==true)){\n    return [newmsg,newmsg2];\n}\nelse if(aux && aux2==false){\n    return [newmsg,null];\n}\nelse if(aux==false && aux2){\n    return [null,newmsg2];\n}\nelse if(aux==false && aux2==false){\n    return [null,null];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":2110,"y":920,"wires":[["882ba01d.dccf7","74bb2bf5.03fec4"],["a8457627.317738","e877c698.ae19b8"]]},{"id":"b187ec5c.ac1f5","type":"ui_numeric","z":"c599849b.a91f38","name":"","label":"Humedad M칤n. Lombriz","tooltip":"","group":"caca1f1c.76174","order":6,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"5","x":1790,"y":1380,"wires":[["f821dbf2.3f1ac8"]]},{"id":"f821dbf2.3f1ac8","type":"change","z":"c599849b.a91f38","name":"Hum M칤nima Lombriz","rules":[{"t":"set","p":"Humminl","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":1380,"wires":[[]]},{"id":"d2db3b53.d64308","type":"ui_numeric","z":"c599849b.a91f38","name":"","label":"Humedad M칤n. Planta","tooltip":"","group":"caca1f1c.76174","order":6,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"5","x":1780,"y":1460,"wires":[["d5415973.c208d8"]]},{"id":"d5415973.c208d8","type":"change","z":"c599849b.a91f38","name":"Hum M칤nima Planta","rules":[{"t":"set","p":"Humminp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010,"y":1460,"wires":[[]]},{"id":"5073fbef.a0fd24","type":"template","z":"c599849b.a91f38","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"modo\":{{global.modo}}}","output":"str","x":1700,"y":900,"wires":[["468783b6.b51e5c"]]},{"id":"468783b6.b51e5c","type":"json","z":"c599849b.a91f38","name":"JSON prueba","property":"payload","action":"","pretty":false,"x":1880,"y":900,"wires":[["f3d764a5.48d138"]]},{"id":"ca557cb7.8765a","type":"inject","z":"c599849b.a91f38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"75","payloadType":"num","x":1590,"y":1400,"wires":[["b187ec5c.ac1f5","d2db3b53.d64308"]]},{"id":"882ba01d.dccf7","type":"debug","z":"c599849b.a91f38","name":"lombriz","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2340,"y":960,"wires":[]},{"id":"a8457627.317738","type":"debug","z":"c599849b.a91f38","name":"planta","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2330,"y":1000,"wires":[]},{"id":"f3d764a5.48d138","type":"function","z":"c599849b.a91f38","name":"Val_Ultras","func":"newmsg = {};\nnewmsg2 = {};\nnewmsg3 = {};\nnewmsg4 = {};\n\nbombhumus = {};\nbombagua = {};\nbombaextraer = {};\n\nfecha = {};\n// modo=global.get(\"modo\"); //estado modo\nhumus=global.get(\"humus\");  //estado valvula humus\nAuxproceso=global.get(\"proceso\");  //estado interacci칩n con proceso\nultrasonido=global.get(\"Llenhumus\");  //valor de ultrasonido\nstate=global.get(\"state\");  //Estado del proceso en el que est치\nendstate=global.get(\"endstate\");\nd=global.get(\"Llenhumus\");\nriego_ok=global.get(\"riego_ok\"); \n\nvar min = 20;\nvar max = 11;\nvar total = 27;\n\n//Se obtiene, d칤a, mes y a침o al d칤a de hoy\ndia=new Date().getDate();\nmes=new Date().getMonth();\nano=new Date().getFullYear();\n\n//Se construye el nombre para el fichero\nvar prueba = \"C:/Users/jandr/Desktop/FicherosTesis/\" + dia + \"_\" + mes + \"_\" + ano + \"_Data.csv\"\n// global.set(\"fecha\", prueba);\nfecha.payload = prueba;\n\nif(Auxproceso==true && state<3 && endstate==false){\n    newmsg.payload=Auxproceso;\n    newmsg3.payload=endstate;\n    if(d>min && state==0){\n        bombhumus.payload = true;\n        bombagua.payload = false;\n        bombaextraer.payload = false;\n        state=1;\n        global.set(\"state\",state);\n        newmsg2.payload=state;\n        return [bombhumus,bombagua,bombaextraer,fecha,newmsg,newmsg2,newmsg3];\n    }\n    else if(d<=min && d>=max && state==1){\n        bombhumus.payload = false;\n        bombagua.payload = true;\n        bombaextraer.payload = false;\n        state=2;\n        global.set(\"state\",state);\n        newmsg2.payload=state;\n        return [bombhumus,bombagua,bombaextraer,fecha,newmsg,newmsg2,newmsg3];\n        }\n    else if(d<max && state==2){\n        bombhumus.payload = false;\n        bombagua.payload = false;\n        bombaextraer.payload = true;\n        state=3;\n        global.set(\"state\",state);\n        newmsg2.payload=state;\n        return [bombhumus,bombagua,bombaextraer,fecha,newmsg,newmsg2,newmsg3];\n    }\n    \n}\n\nif(Auxproceso==true && state>2 && endstate==false){\n    newmsg.payload=Auxproceso;\n    if(d<=(total-1) && humus==true && state==3){\n        bombhumus.payload = false;\n        bombagua.payload = false;\n        bombaextraer.payload = true;\n        state=4;\n        global.set(\"state\",state);\n        newmsg2.payload=state;\n        newmsg3.payload=endstate;\n        return [bombhumus,bombagua,bombaextraer,fecha,newmsg,newmsg2,newmsg3];\n    }\n    \n    else if(d>=(total-1) && state==4){\n        bombhumus.payload = false;\n        bombagua.payload = false;\n        bombaextraer.payload = false;\n        \n        state=0;\n        global.set(\"state\",state);\n        Auxproceso=false;\n        global.set(\"proceso\",Auxproceso);\n        endstate=true;\n        global.set(\"humus\",false);\n        riego_ok = false;\n        global.set(\"riego_ok\",riego_ok);\n        newmsg2.payload=state;\n        newmsg3.payload=endstate;\n        newmsg.payload=Auxproceso;\n        return [bombhumus,bombagua,bombaextraer,fecha,newmsg,newmsg2,newmsg3];\n    }\n    \n}\nreturn [null,null,null,fecha,null,null,null];\n// if (Auxproceso==false){\n//     newmsg.payload=Auxproceso;\n//     newmsg2.payload=state;\n//     newmsg3.payload=endstate;\n//     bombhumus.payload = false;\n//     bombagua.payload = false;\n//     bombaextraer.payload = false;\n//     global.set(\"humus\",false);\n//     return [bombhumus,bombagua,bombaextraer,fecha,newmsg,newmsg2,newmsg3];\n// }","outputs":7,"noerr":0,"initialize":"","finalize":"","x":2090,"y":760,"wires":[["d230ba81.4e5208","c4802142.7feb"],["d4c396a7.20cf28"],["568c0524.379f1c","cc8e3537.d26398"],["f9101100.70b5c"],["5fb41620.c625a8","d230ba81.4e5208"],["53ece7a3.6f25e8"],["8ba47af.732e188"]]},{"id":"bda44435.281a68","type":"debug","z":"c599849b.a91f38","name":"env칤o","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2370,"y":480,"wires":[]},{"id":"d4c396a7.20cf28","type":"ui_switch","z":"c599849b.a91f38","name":"","label":"Bomba Agua","tooltip":"","group":"75aac7c.5226638","order":4,"width":"3","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2670,"y":220,"wires":[["7edbc3b0.10cf7c"]]},{"id":"c4802142.7feb","type":"ui_switch","z":"c599849b.a91f38","name":"","label":"Bomba Humus","tooltip":"","group":"75aac7c.5226638","order":4,"width":"3","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2680,"y":180,"wires":[["4bf3ac25.9c7d54"]]},{"id":"cc8e3537.d26398","type":"ui_switch","z":"c599849b.a91f38","name":"","label":"Bomba humus extraer","tooltip":"","group":"75aac7c.5226638","order":4,"width":"3","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2700,"y":260,"wires":[["227760a6.1cbc6"]]},{"id":"4bf3ac25.9c7d54","type":"change","z":"c599849b.a91f38","name":"valvh_humus","rules":[{"t":"set","p":"valvh_humus","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2850,"y":180,"wires":[["be978708.d61fc8"]]},{"id":"7edbc3b0.10cf7c","type":"change","z":"c599849b.a91f38","name":"valvh_agua","rules":[{"t":"set","p":"valvh_agua","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2870,"y":220,"wires":[["be978708.d61fc8"]]},{"id":"227760a6.1cbc6","type":"change","z":"c599849b.a91f38","name":"humuson","rules":[{"t":"set","p":"humuson","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2900,"y":260,"wires":[["be978708.d61fc8"]]},{"id":"5fb41620.c625a8","type":"debug","z":"c599849b.a91f38","name":"auxproceso","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2450,"y":840,"wires":[]},{"id":"53ece7a3.6f25e8","type":"debug","z":"c599849b.a91f38","name":"state","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2430,"y":860,"wires":[]},{"id":"8ba47af.732e188","type":"debug","z":"c599849b.a91f38","name":"endstate","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2440,"y":880,"wires":[]},{"id":"be978708.d61fc8","type":"template","z":"c599849b.a91f38","name":"variables humus","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"valh\":{{global.humuson}},\"valvhh\":{{global.valvh_humus}},\"valvha\":{{global.valvh_agua}}}\n","output":"str","x":2200,"y":340,"wires":[["604cd5ef.5c939c","bda44435.281a68"]]},{"id":"216c24ab.53f65c","type":"inject","z":"c599849b.a91f38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":1830,"y":840,"wires":[["5073fbef.a0fd24"]]},{"id":"792d78fc.796af8","type":"change","z":"c599849b.a91f38","name":"disabled modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":300,"wires":[["c4802142.7feb","d4c396a7.20cf28","cc8e3537.d26398"]]},{"id":"3aefadd8.168072","type":"delay","z":"c599849b.a91f38","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2260,"y":560,"wires":[["3deca3a4.144e0c"]]},{"id":"b7a8344d.723058","type":"function","z":"c599849b.a91f38","name":"definir pr칩ximo riego","func":"fechainit=global.get(\"fecha_inicio\"); //fecha inicio\nfrec=global.get(\"frec_riego\");  //frec \nnewmsg = {};\nnewmsg2 = {};\n\n\nvar date = new Date(fechainit);\nvar suma = date.setDate(date.getDate() + (frec*7));\n// var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\n// var suma = date.setDate(date.getDate() + frec);\nvar convertir = new Date(suma);\n\nvar mes = convertir.getMonth();\nvar ano = convertir.getFullYear();\nvar dia = convertir.getDate();\n\nif(mes==12){\n    mes = convertir.getMonth()-11;\n}\nelse mes = convertir.getMonth()+1;\n\n\n// newmsg.payload = suma;\nnewmsg.payload = dia + \"/\" + mes + \"/\" + ano;\nnewmsg2.payload = convertir;\n\nreturn [newmsg,newmsg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":2400,"y":1320,"wires":[["8b0e76db.df4708","cea51c47.46d34"],["165ac131.fe58ff"]]},{"id":"8b0e76db.df4708","type":"ui_text","z":"c599849b.a91f38","group":"caca1f1c.76174","order":0,"width":"6","height":"2","name":"","label":"Pr칩ximo riego","format":"{{msg.payload}}","layout":"row-center","x":2620,"y":1340,"wires":[]},{"id":"d51c333.4112ed","type":"change","z":"c599849b.a91f38","d":true,"name":"disabled modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":1020,"wires":[["26d157a3.e34e58","6fa14333.6334cc"]]},{"id":"6ab4a9bd.4d0ea8","type":"change","z":"c599849b.a91f38","d":true,"name":"enable modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1810,"y":1060,"wires":[["26d157a3.e34e58","6fa14333.6334cc"]]},{"id":"13baae60.216a62","type":"json","z":"c599849b.a91f38","name":"JSON prueba","property":"payload","action":"","pretty":false,"x":1880,"y":960,"wires":[["c148b761.c841e8"]]},{"id":"3ccca210.b2d22e","type":"template","z":"c599849b.a91f38","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"modo\":{{global.modo}}}","output":"str","x":1700,"y":960,"wires":[["13baae60.216a62"]]},{"id":"b77f57db.e3bf58","type":"change","z":"c599849b.a91f38","name":"enviar false","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":660,"wires":[["8f192862.beef08","2545fdc0.784a82"]]},{"id":"432aa65b.4313e8","type":"switch","z":"c599849b.a91f38","name":"evaluar false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1870,"y":660,"wires":[["b77f57db.e3bf58"]]},{"id":"9f631bf6.6741f8","type":"switch","z":"c599849b.a91f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"1609459200","vt":"num"},{"t":"gte","v":"1609459200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1950,"y":1300,"wires":[["7de69e97.1f50f"],["66332c96.b09f04"]]},{"id":"f53c3936.8b41d8","type":"inject","z":"c599849b.a91f38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2210,"y":1140,"wires":[["15d38da5.ced742"]]},{"id":"7de69e97.1f50f","type":"change","z":"c599849b.a91f38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"fecha_inicio","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1900,"y":1240,"wires":[["26d157a3.e34e58"]]},{"id":"5337e6f7.1ef3e8","type":"switch","z":"c599849b.a91f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"1","vt":"num"},{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1970,"y":1340,"wires":[["1905c820.9a88b8"],["e3b49537.4fe978"]]},{"id":"1905c820.9a88b8","type":"change","z":"c599849b.a91f38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"frec_riego","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1900,"y":1200,"wires":[["6fa14333.6334cc"]]},{"id":"8f192862.beef08","type":"delay","z":"c599849b.a91f38","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":900,"wires":[["74bb2bf5.03fec4"]]},{"id":"2545fdc0.784a82","type":"delay","z":"c599849b.a91f38","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1860,"y":340,"wires":[["e877c698.ae19b8"]]},{"id":"15d38da5.ced742","type":"function","z":"c599849b.a91f38","name":"actualizar fecha y notificaciones","func":"fechahoy = msg.payload;  //estado modo\nproxriego = global.get(\"proxriego\");  //proximo riego\nfrec=global.get(\"frec_riego\");  //frec \nvar mensaje = \"Recuerde hacer el riego del humus!, han pasado \"+ frec +\" semanas desde la ultima vez\";\nnotificar = {};\nnotificarpc = {};\nactualizar = {};\n\n//-------------FECHA HOY-------------------------\nvar date2 = new Date(fechahoy);\nvar mes2 = date2.getMonth();\nvar ano2 = date2.getFullYear();\nvar dia2 = date2.getDate();\nif(mes2==12){\n    mes2 = date2.getMonth()-11;\n}\nelse mes2 = date2.getMonth()+1;\n//-------------FECHA SIGUIENTE-------------------------\nvar date = new Date(proxriego);\nvar mes = date.getMonth();\nvar ano = date.getFullYear();\nvar dia = date.getDate();\nif(mes==12){\n    mes = date.getMonth()-11;\n}\nelse mes = date.getMonth()+1;\n//--------------------------------------\n\nvar fechahoy = dia2 + \"/\" + mes2 + \"/\" + ano2;\nvar fechasiguiente = dia + \"/\" + mes + \"/\" + ano;\n\nif ((dia==dia2) && (mes==mes2) && (ano==ano2)){\n    notificarpc.payload = \"Recuerde hacer el riego del humus!, han pasado \"+ frec +\" semanas desde la ultima vez\";\n    notificarpc.topic = \"RIEGO HUMUS\";\n   \n    notificar.payload = \"{\\\"type\\\":\\\"message\\\",\\\"content\\\":\\\"\" + mensaje + \"\\\",\\\"chatId\\\":500449756}\";\n    \n    return [notificar, notificarpc, null];\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":2450,"y":1140,"wires":[["ce93016e.835b4"],["88a5d732.1fe818"],[]]},{"id":"cea51c47.46d34","type":"change","z":"c599849b.a91f38","name":"Fecha proximo riego humano","rules":[{"t":"set","p":"proxriegohumano","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2660,"y":1300,"wires":[[]]},{"id":"264341d3.f3686e","type":"debug","z":"c599849b.a91f38","name":"msg1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2890,"y":1180,"wires":[]},{"id":"5b93ac4.98dc854","type":"inject","z":"c599849b.a91f38","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1570,"y":1340,"wires":[["6fa14333.6334cc"]]},{"id":"c2dfde94.d95df","type":"change","z":"c599849b.a91f38","name":"validar riego autom치tico","rules":[{"t":"set","p":"riego_ok","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":100,"wires":[[]]},{"id":"b867d899.37c198","type":"change","z":"c599849b.a91f38","name":"guardar fecha para validar","rules":[{"t":"set","p":"fechaguardar","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":40,"wires":[["b32a6d2.33fa29"]]},{"id":"2882de4d.b0a662","type":"inject","z":"c599849b.a91f38","name":"Inicializar estado v치lvulas off's","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"false","payloadType":"bool","x":990,"y":60,"wires":[["b867d899.37c198"]]},{"id":"165ac131.fe58ff","type":"change","z":"c599849b.a91f38","name":"Fecha proximo riego timestamp","rules":[{"t":"set","p":"proxriego","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2670,"y":1260,"wires":[[]]},{"id":"b32a6d2.33fa29","type":"debug","z":"c599849b.a91f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1580,"y":60,"wires":[]},{"id":"568c0524.379f1c","type":"delay","z":"c599849b.a91f38","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2540,"y":440,"wires":[["cc8e3537.d26398"]]},{"id":"88a5d732.1fe818","type":"ui_toast","z":"c599849b.a91f38","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Notificaci칩n PC","x":2700,"y":1160,"wires":[[]]},{"id":"ce93016e.835b4","type":"json","z":"c599849b.a91f38","name":"JSON prueba","property":"payload","action":"","pretty":false,"x":2700,"y":1120,"wires":[["3f676f5c.e401f","264341d3.f3686e"]]},{"id":"3f676f5c.e401f","type":"telegram sender","z":"c599849b.a91f38","d":true,"name":"","bot":"c3a7dfed.91e93","x":2930,"y":1120,"wires":[[]]},{"id":"8bd1c8e2.7b7b98","type":"debug","z":"c599849b.a91f38","name":"env칤o","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2630,"y":500,"wires":[]},{"id":"d1a9ef72.8397d","type":"ui_numeric","z":"c599849b.a91f38","name":"","label":"Humedad M치x. Lombriz","tooltip":"","group":"caca1f1c.76174","order":6,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"5","x":1790,"y":1420,"wires":[["c58d05a1.0aefb8"]]},{"id":"c58d05a1.0aefb8","type":"change","z":"c599849b.a91f38","name":"Hum Maxima Lombriz","rules":[{"t":"set","p":"Hummaxl","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":1420,"wires":[[]]},{"id":"4718e2a7.30ebbc","type":"ui_numeric","z":"c599849b.a91f38","name":"","label":"Humedad M치x. Planta","tooltip":"","group":"caca1f1c.76174","order":6,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"5","x":1780,"y":1500,"wires":[["2b3f5154.2aaebe"]]},{"id":"2b3f5154.2aaebe","type":"change","z":"c599849b.a91f38","name":"Hum M치xima Planta","rules":[{"t":"set","p":"Hummaxp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":1500,"wires":[[]]},{"id":"a798e197.d7301","type":"inject","z":"c599849b.a91f38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"90","payloadType":"num","x":1590,"y":1460,"wires":[["d1a9ef72.8397d","4718e2a7.30ebbc"]]},{"id":"4669f1e8.60954","type":"ui_led","z":"c599849b.a91f38","group":"90e3eea0.97ae8","order":4,"width":"6","height":"1","label":"Hum Lombriz","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"green","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Hum Lombriz","x":1110,"y":1840,"wires":[]},{"id":"dfdfe669.184d98","type":"ui_led","z":"c599849b.a91f38","group":"90e3eea0.97ae8","order":5,"width":"6","height":"1","label":"Temp lombriz","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"green","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Temp lombriz","x":1110,"y":1880,"wires":[]},{"id":"b7403f86.6ec4","type":"ui_led","z":"c599849b.a91f38","group":"90e3eea0.97ae8","order":6,"width":"6","height":"1","label":"Hum Planta","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"green","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Hum Planta","x":1110,"y":1940,"wires":[]},{"id":"a0635025.eacbc","type":"ui_numeric","z":"c599849b.a91f38","name":"","label":"Temperatura M칤n. Lombriz","tooltip":"","group":"caca1f1c.76174","order":6,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"5","x":1800,"y":1580,"wires":[["120f671f.732119"]]},{"id":"120f671f.732119","type":"change","z":"c599849b.a91f38","name":"Tem M칤nima Lombriz","rules":[{"t":"set","p":"Temminl","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2060,"y":1580,"wires":[[]]},{"id":"165ecf49.4ee3b1","type":"ui_numeric","z":"c599849b.a91f38","name":"","label":"Temperatura Max. Lombriz","tooltip":"","group":"caca1f1c.76174","order":6,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"5","x":1800,"y":1620,"wires":[["39bd147c.9fbeec"]]},{"id":"39bd147c.9fbeec","type":"change","z":"c599849b.a91f38","name":"Tem M치xima lombriz","rules":[{"t":"set","p":"Temmaxp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2060,"y":1620,"wires":[[]]},{"id":"8252b6ec.60f9a8","type":"inject","z":"c599849b.a91f38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"14","payloadType":"num","x":1590,"y":1580,"wires":[["a0635025.eacbc"]]},{"id":"752d4e9e.f53d3","type":"inject","z":"c599849b.a91f38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"27","payloadType":"num","x":1590,"y":1620,"wires":[["165ecf49.4ee3b1"]]}]