src/Node_RED.json
[{"id":"78991705.4f9488","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a7ac32d3.34049","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"33d85bda.a64b14","type":"tab","label":"Diode 2.0","disabled":true,"info":""},{"id":"e521aee2.c5fa","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d987807d.6f29e","type":"ui_tab","name":"Variables sistema","icon":"dashboard","disabled":false,"hidden":false},{"id":"a7450594.e8c0e8","type":"ui_group","name":"Gr치ficos","tab":"75f42a57.72bfb4","order":2,"disp":true,"width":"10","collapse":true},{"id":"aa81baeb.e117b8","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#129e00","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#387416","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#387416","edited":true},"page-titlebar-backgroundColor":{"value":"#387416","edited":false},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#d6d6d6","edited":true},"group-textColor":{"value":"#000000","edited":true},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#000000","edited":true},"widget-backgroundColor":{"value":"#b4bf22","edited":true},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Lombricultura","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"181d5d66.f2b193","type":"ui_group","name":"Default","tab":"75f42a57.72bfb4","order":1,"disp":true,"width":"6","collapse":false},{"id":"b0f10ca8.bac46","type":"ui_group","name":"Variables plantas","tab":"d987807d.6f29e","order":4,"disp":true,"width":"8","collapse":true},{"id":"aebd0484.82c348","type":"ui_group","name":"Variables ambiente","tab":"d987807d.6f29e","order":3,"disp":true,"width":"8","collapse":true},{"id":"ffe71e2f.bacb9","type":"mqtt-broker","name":"broker.shiftr.io","broker":"tfm-lombricultura.cloud.shiftr.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"natisbar/Lombricultura","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6893c748.fa48b8","type":"telegram bot","botname":"MiHuertaBot","usernames":"natisbar","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"272d9dcf.dd7842","type":"telegram bot","botname":"MiHuertaBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"c3a7dfed.91e93","type":"telegram bot","botname":"MiHuertaBot","usernames":"","chatids":"500449756","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"fd9c9d1e.271a9","type":"telegram bot","botname":"MyGardenBot","usernames":"","chatids":"","baseapiurl":"https://api.telegram.org","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"bd069947.041808","type":"chatbot-context-store","name":"","contextStorage":"memory","contextParams":""},{"id":"ccbd41f3.e34c9","type":"chatbot-telegram-node","botname":"MyGardenBot","usernames":"","providerToken":"","polling":"1000","store":"bd069947.041808","log":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"9d0da4ea.0a1388","type":"chatbot-telegram-node","botname":"Mygarden2","usernames":"","providerToken":"","polling":"1000","store":"bd069947.041808","log":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"9ca1403e.76505","type":"ui_group","name":"Group 3","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"89749fb7.87f01","type":"ui_group","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"ab397e95.29ebe","type":"ui_group","name":"Inputs","tab":"","order":1,"disp":false,"width":"6"},{"id":"4e7edda4.417004","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"ae0413d2.d9b4d","type":"ui_group","name":"Dashboard","tab":"","order":1,"disp":true,"width":"4","collapse":false},{"id":"ef860366.cd032","type":"ui_group","name":"Charts","tab":"","order":3,"disp":true,"width":"6"},{"id":"881ee563.ffb7f8","type":"ui_group","name":"Chart Scaling","tab":"","order":2,"disp":true,"width":"3","collapse":true},{"id":"2f6e8bab.46edd4","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"38"},{"id":"9e271ef8.1ed8","type":"ui_group","name":"Dashboard","tab":"20d4bd59.a21a22","order":1,"disp":true,"width":"4","collapse":false},{"id":"c4bae040.b8a2","type":"ui_group","name":"Charts","tab":"20d4bd59.a21a22","order":3,"disp":true,"width":"6"},{"id":"480f6c25.dd7064","type":"ui_group","name":"Chart Scaling","tab":"20d4bd59.a21a22","order":2,"disp":true,"width":"3","collapse":true},{"id":"20d4bd59.a21a22","type":"ui_tab","name":"DS Pilot Extrusion Line","icon":"dashboard","order":2},{"id":"9c808bd7.e8b228","type":"ui_group","name":"Alertas","tab":"d987807d.6f29e","order":5,"disp":true,"width":"6","collapse":false},{"id":"2d3b7cb7.38d564","type":"serial-port","serialport":"COM9","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"3bf46f7d.d7f2c","type":"ui_group","name":"Variables lombrices","tab":"d987807d.6f29e","order":1,"disp":true,"width":"8","collapse":false},{"id":"b8a0083c.a78028","type":"serial-port","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"75f42a57.72bfb4","type":"ui_tab","name":"Control y visualizaci칩n general","icon":"dashboard","disabled":false,"hidden":false},{"id":"75aac7c.5226638","type":"ui_group","name":"Control riego","tab":"75f42a57.72bfb4","order":1,"disp":true,"width":"6","collapse":false},{"id":"90e3eea0.97ae8","type":"ui_group","name":"Alertas","tab":"75f42a57.72bfb4","order":4,"disp":true,"width":"6","collapse":false},{"id":"3e999925.bf7cb6","type":"ui_group","name":"Diodes","tab":"4435d05.16bbb3","order":1,"disp":true,"width":"3","collapse":true},{"id":"4435d05.16bbb3","type":"ui_tab","name":"Beta","icon":"dashboard","disabled":false,"hidden":false},{"id":"caca1f1c.76174","type":"ui_group","name":"Normas","tab":"75f42a57.72bfb4","order":3,"disp":true,"width":"6","collapse":false},{"id":"fca3383a.349368","type":"ui_spacer","name":"spacer","group":"aebd0484.82c348","order":4,"width":4,"height":1},{"id":"ed21ae28.3cc2","type":"ui_spacer","name":"spacer","group":"aebd0484.82c348","order":5,"width":4,"height":1},{"id":"c0f43ba3.2c5658","type":"ui_spacer","name":"spacer","group":"aebd0484.82c348","order":6,"width":4,"height":1},{"id":"737344bd.da1c8c","type":"ui_spacer","name":"spacer","group":"aebd0484.82c348","order":7,"width":4,"height":1},{"id":"81baf851.031d58","type":"serial-port","serialport":"COM8","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"e880e87d.0a6b18","type":"serial in","z":"78991705.4f9488","name":"Arduino","serial":"2d3b7cb7.38d564","x":430,"y":1120,"wires":[["72b4b3c1.e7d8fc","7c058db1.6cb144"]]},{"id":"c598bb90.ae5f08","type":"contrib-json","z":"78991705.4f9488","engine":"JSONSelect","command":"jq","expr":":root > .Hum","complete":"property","prop":"payload","name":"","x":890,"y":1200,"wires":[["f7194bb4.0b0478","363ddb76.227ec4"]]},{"id":"f7194bb4.0b0478","type":"ui_gauge","z":"78991705.4f9488","name":"","group":"aebd0484.82c348","order":2,"width":4,"height":4,"gtype":"donut","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"80","x":1080,"y":1200,"wires":[]},{"id":"8db4237e.dde02","type":"contrib-json","z":"78991705.4f9488","engine":"JSONSelect","command":"jq","expr":":root > .Temp","complete":"property","prop":"payload","name":"","x":890,"y":1240,"wires":[["620bafa.15bdc5","1ad377ad.406288"]]},{"id":"620bafa.15bdc5","type":"ui_gauge","z":"78991705.4f9488","name":"","group":"aebd0484.82c348","order":1,"width":4,"height":4,"gtype":"donut","title":"Temperatura","label":"춿C","format":"{{value}}","min":"-50","max":"50","colors":["#ca3838","#0fe600","#ca3838"],"seg1":"14","seg2":"35","x":1090,"y":1240,"wires":[]},{"id":"2048bd58.987972","type":"mqtt out","z":"78991705.4f9488","name":"tfm-lombricultura.cloud.shiftr.io","topic":"tfm-lombricultura/Lombricultura","qos":"0","retain":"","broker":"ffe71e2f.bacb9","x":1330,"y":1120,"wires":[]},{"id":"c3ece9cb.460dc8","type":"chatbot-message","z":"78991705.4f9488","name":"start","message":[{"message":"Hola {{firstName}}, bienvenido a MyGardenBot 游꺔 Su asistente personalizado 游뱄 que le permitir치 conocer el estado de su siembra. Interactue con los diferentes comandos de acuerdo con el tipo de consulta o control que desee hacer."}],"language":"none","x":750,"y":820,"wires":[["765292fc.2dfeec"]]},{"id":"5a9601fe.d4cbb","type":"chatbot-telegram-receive","z":"78991705.4f9488","bot":"9d0da4ea.0a1388","botProduction":"","x":130,"y":800,"wires":[["fac351ac.14e65"]]},{"id":"765292fc.2dfeec","type":"chatbot-telegram-send","z":"78991705.4f9488","bot":"9d0da4ea.0a1388","botProduction":"","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1050,"y":860,"wires":[]},{"id":"fac351ac.14e65","type":"chatbot-rules","z":"78991705.4f9488","name":"Reglas_telegram","rules":[{"type":"command","command":"/start"},{"type":"command","command":"/humout"},{"type":"command","command":"/tempout"},{"type":"command","command":"/valva_planta_open"},{"type":"command","command":"/valva_planta_close"},{"type":"command","command":"/valvh_open"},{"type":"command","command":"/valvh_close"},{"type":"command","command":"/status"},{"type":"command","command":"/mode_on"},{"type":"command","command":"/mode_off"},{"type":"command","command":"/valva_lombriz_open"},{"type":"command","command":"/valva_lombriz_close"}],"outputs":12,"x":350,"y":800,"wires":[["c3ece9cb.460dc8","a2d7eef1.d6b3a"],["b6a47b34.dedeb8","a2d7eef1.d6b3a"],["ccc3acc1.9d28e","a2d7eef1.d6b3a"],["a2d7eef1.d6b3a","8dd0deed.39f17"],["a2d7eef1.d6b3a","8dd0deed.39f17"],["a2d7eef1.d6b3a","d75c48ad.6bf688"],["a2d7eef1.d6b3a","d75c48ad.6bf688"],["4be112fd.2691ac"],["a2d7eef1.d6b3a","6998cd46.daa5c4"],["a2d7eef1.d6b3a","6998cd46.daa5c4"],["197df861.d05b68","a2d7eef1.d6b3a"],["197df861.d05b68","a2d7eef1.d6b3a"]]},{"id":"363ddb76.227ec4","type":"change","z":"78991705.4f9488","name":"GlobalHum","rules":[{"t":"set","p":"Hum","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1200,"wires":[[]]},{"id":"1ad377ad.406288","type":"change","z":"78991705.4f9488","name":"GlobalTemp","rules":[{"t":"set","p":"Temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1240,"wires":[[]]},{"id":"b6a47b34.dedeb8","type":"chatbot-message","z":"78991705.4f9488","name":"Humedad","message":[{"message":"La humedad ambiente es: {{Hum}}%"}],"language":"none","x":760,"y":860,"wires":[["765292fc.2dfeec"]]},{"id":"ccc3acc1.9d28e","type":"chatbot-message","z":"78991705.4f9488","name":"Temperatura","message":[{"message":"La temperatura ambiente es: {{Temp}}춿C "}],"language":"none","x":770,"y":900,"wires":[["765292fc.2dfeec"]]},{"id":"823c15f1.35c1e8","type":"ui_switch","z":"78991705.4f9488","name":"","label":"Valv. Agua Plantas","tooltip":"","group":"75aac7c.5226638","order":2,"width":"3","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1670,"y":380,"wires":[["803b08a5.5c3998"]]},{"id":"50694e3d.dd375","type":"ui_switch","z":"78991705.4f9488","name":"","label":"Valv. Humus","tooltip":"","group":"75aac7c.5226638","order":4,"width":"6","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1930,"y":560,"wires":[["d5b41bb.05830e8","60373993.48ca48"]]},{"id":"803b08a5.5c3998","type":"change","z":"78991705.4f9488","name":"GlobalAguaPlantas","rules":[{"t":"set","p":"agua_plantas","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1890,"y":380,"wires":[["4d649980.bbc7b8"]]},{"id":"d5b41bb.05830e8","type":"change","z":"78991705.4f9488","name":"GlobalHumus","rules":[{"t":"set","p":"humus","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2140,"y":500,"wires":[["554b0083.5e04c"]]},{"id":"4d649980.bbc7b8","type":"template","z":"78991705.4f9488","name":"variables agua y modo","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"valap\":{{global.agua_plantas}},\"valal\":{{global.agua_lombriz}},\"modo\":{{global.modo}}}\n","output":"str","x":2140,"y":400,"wires":[["2e2ef047.244ed","9c88b1af.8e5b3"]]},{"id":"970fdfae.c93f5","type":"function","z":"78991705.4f9488","name":"Open_close_valva_valvh","func":"newmsg = {};\nmsgtelegram = {};\naux2=global.get(\"modo\");\naguap=global.get(\"agua_plantas\");\nagual=global.get(\"agua_lombriz\");\nhumus=global.get(\"humus\");\nvar aux=msg.payload.toString();\nif (aux2==false){\n    if (aux==\"/valva_planta_open\" && aguap==false) {\n        newmsg.payload = true;\n        msgtelegram.payload = \"La valvula de agua fue abierta\";\n        return [newmsg,null,msgtelegram,null,null];\n    } \n    else if (aux==\"/valva_planta_close\" && aguap==true) {\n        newmsg.payload = false;\n        msgtelegram.payload = \"La valvula de agua fue cerrada\";\n        return [newmsg,null,msgtelegram,null,null];\n    }\n    else if (aux==\"/valva_lombriz_open\" && agual==false) {\n        newmsg.payload = true;\n        msgtelegram.payload = \"La valvula de agua fue abierta\";\n        return [null,null,msgtelegram,null,newmsg];\n    } \n    else if (aux==\"/valva_lombriz_close\" && agual==true) {\n        newmsg.payload = false;\n        msgtelegram.payload = \"La valvula de agua fue cerrada\";\n        return [null,null,msgtelegram,null,newmsg];\n    }\n    else if (aux==\"/valvh_open\" && humus==false) {\n        newmsg.payload = true;\n        msgtelegram.payload = \"El proceso de riego de humus activo\";\n        return [null,newmsg,null,msgtelegram,null];\n    }\n    else if (aux==\"/valvh_close\" && humus==true) {\n        newmsg.payload = false;\n        msgtelegram.payload = \"No es posible parar el proceso de riego, espere a que finalice\";\n        return [null,newmsg,null,msgtelegram,null];\n    }\n    else {\n        msgtelegram.payload = \"La valvula ya estaba en ese estado\";\n        return [null,null,msgtelegram,msgtelegram,null];\n    }\n}\nelse {\n    if (aux==\"/valva_planta_open\" || aux==\"/valva_planta_close\" || aux==\"/valva_lombriz_open\" || aux==\"/valva_lombriz_close\" || aux==\"/valvh_open\" || aux==\"/valvh_close\") {\n    msgtelegram.payload = \"Actualmente el modo autom치tico est치 activado, desactivelo con el comando: /mode_off para poder ejercer control sobre el sistema.\";\n    return [newmsg,newmsg,msgtelegram,msgtelegram,newmsg];\n    } \n}\n\n","outputs":5,"noerr":0,"initialize":"","finalize":"","x":790,"y":500,"wires":[["823c15f1.35c1e8","a99ef9e1.29fb28"],["50694e3d.dd375"],["44679113.eca36"],["3576b250.2c109e"],["d268d55c.2ca998","a99ef9e1.29fb28"]]},{"id":"a2d7eef1.d6b3a","type":"contrib-json","z":"78991705.4f9488","engine":"JSONSelect","command":"jq","expr":":root > .content","complete":"property","prop":"payload","name":"","x":560,"y":520,"wires":[["970fdfae.c93f5","1e05c9f9.407e36"]]},{"id":"4be112fd.2691ac","type":"chatbot-message","z":"78991705.4f9488","name":"status","message":[{"message":"**Variables ambiente:**\nTemperatura: {{Temp}}춿C\nHumedad: {{Hum}}%\nLux: {{Lux}}\n\n**Variables Plantas:**\nTemperatura: {{TempP}}춿C\nHumedad: {{HumP}}%\n\n**Variables Lombrices:**\nTemperatura: {{TempL}}춿C\nHumedad: {{HumL}}%\n\n**Elementos de control:**\nModo: {{global.modo}}\nValvula agua plantas - estado: {{global.agua_plantas}}\nValvula agua lombrices - estado: {{global.agua_lombriz}}\nRiego humus - estado: {{global.humus}}"}],"language":"none","x":750,"y":940,"wires":[["765292fc.2dfeec"]]},{"id":"4613375f.056c78","type":"template","z":"78991705.4f9488","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"Hum\":{{global.Hum}},\"Temp\":{{global.Temp}},\"modo\":{{global.modo}},\"valvap\":{{global.agua_plantas}},\"valval\":{{global.agua_lombriz}},\"valvh\":{{global.humuson}},\"valvhhumus\":{{global.valvh_humus}},\"valvhagua\":{{global.valvh_agua}},\"TempL\":{{global.TempL}},\"TempP\":{{global.TempP}},\"HumP\":{{global.HumP}},\"HumL\":{{global.HumL}}}","output":"json","x":1100,"y":1120,"wires":[["2048bd58.987972","6635ed83.8f67e4"]]},{"id":"d65791b7.750e6","type":"ui_switch","z":"78991705.4f9488","name":"","label":"Modo autom치tico","tooltip":"","group":"75aac7c.5226638","order":1,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check-square","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-check-square","offcolor":"gray","x":1310,"y":680,"wires":[["bb9cee57.f4646","308a95ab.ea891a","f3f77954.87a858"]]},{"id":"bb9cee57.f4646","type":"change","z":"78991705.4f9488","name":"GlobalModo","rules":[{"t":"set","p":"modo","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"modo","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":920,"wires":[["abe73eff.38205","c965f2a5.39fe4"]]},{"id":"402fac5c.899b34","type":"chatbot-message","z":"78991705.4f9488","name":"Valva","message":[{"message":"{{msgvalva}}"}],"language":"none","x":750,"y":740,"wires":[["765292fc.2dfeec"]]},{"id":"8dd0deed.39f17","type":"delay","z":"78991705.4f9488","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":740,"wires":[["402fac5c.899b34"]]},{"id":"44679113.eca36","type":"change","z":"78991705.4f9488","name":"GlobalMsgValva","rules":[{"t":"set","p":"msgvalva","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":720,"wires":[[]]},{"id":"c59a3018.949c2","type":"chatbot-message","z":"78991705.4f9488","name":"Valvh","message":[{"message":"{{msgvalvh}}"}],"language":"none","x":750,"y":780,"wires":[["765292fc.2dfeec"]]},{"id":"d75c48ad.6bf688","type":"delay","z":"78991705.4f9488","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":780,"wires":[["c59a3018.949c2"]]},{"id":"3576b250.2c109e","type":"change","z":"78991705.4f9488","name":"GlobalMsgValvh","rules":[{"t":"set","p":"msgvalvh","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":760,"wires":[[]]},{"id":"1e05c9f9.407e36","type":"function","z":"78991705.4f9488","name":"on_off_modo","func":"newmsg = {};\nnewmsg2 = {};\nmsgtelegram = {};\nvar aux=msg.payload.toString();\nif (aux==\"/start\") {\n    newmsg.payload = false;\n    return [newmsg,newmsg,null];\n} \nelse if (aux==\"/mode_on\") {\n    msgtelegram.payload = \"Modo autom치tico activado\";\n    newmsg.payload = true;\n    newmsg2.payload = false;\n    return [newmsg,newmsg2,msgtelegram];\n} \nelse if (aux==\"/mode_off\") {\n    msgtelegram.payload = \"Modo autom치tico desactivado\";\n    newmsg.payload = false;\n    return [newmsg,null,msgtelegram];\n}\n//return [newmsg,null,null];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":750,"y":580,"wires":[["d65791b7.750e6","a9b5fdca.3e91e"],["823c15f1.35c1e8","50694e3d.dd375","d268d55c.2ca998"],["462514db.66d08c"]]},{"id":"462514db.66d08c","type":"change","z":"78991705.4f9488","name":"GlobalMsgModo","rules":[{"t":"set","p":"msgmodo","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":800,"wires":[[]]},{"id":"8c9fa3a9.f2057","type":"chatbot-message","z":"78991705.4f9488","name":"Modo","message":[{"message":"{{msgmodo}}"}],"language":"none","x":750,"y":980,"wires":[["765292fc.2dfeec"]]},{"id":"6998cd46.daa5c4","type":"delay","z":"78991705.4f9488","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":980,"wires":[["8c9fa3a9.f2057"]]},{"id":"308a95ab.ea891a","type":"switch","z":"78991705.4f9488","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":600,"wires":[["747f2a5b.663d34","b7feadb9.24f28","914aed07.9d4e1","6fdd6e37.da0ca"],["1fefcab7.14be75","4a5403c5.400dcc","dcb9f51a.afe088","afff16ad.9ffa38"]]},{"id":"747f2a5b.663d34","type":"change","z":"78991705.4f9488","name":"disabled modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"agua_plantas","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":480,"wires":[["823c15f1.35c1e8"]]},{"id":"1fefcab7.14be75","type":"change","z":"78991705.4f9488","name":"enable modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"agua_plantas","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":520,"wires":[["823c15f1.35c1e8"]]},{"id":"b7feadb9.24f28","type":"change","z":"78991705.4f9488","d":true,"name":"disabled modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"humus","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":600,"wires":[["50694e3d.dd375"]]},{"id":"4a5403c5.400dcc","type":"change","z":"78991705.4f9488","d":true,"name":"enable modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"humus","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":640,"wires":[["50694e3d.dd375"]]},{"id":"d31df65d.9b2fc8","type":"function","z":"78991705.4f9488","name":"Data chart","func":"msgledhum = {};\nmsgledtemp = {};\nmsgledlux = {};\nmsgledhuml = {};\nmsgledtempl = {};\nmsgledhump = {};\nmsgledtempp = {};\nt=Date.now();\n\nmsgledhum.payload = false;\nmsgledtemp.payload = false;\nmsgledlux.payload = false;\nmsgledhuml.payload = false;\nmsgledtempl.payload = false;\nmsgledhump.payload = false;\nmsgledtempp.payload = false;\n\nvar temp = msg.payload.Temp\nvar templ = msg.payload.Templombriz\nvar tempp = msg.payload.Tempplanta\nvar hum = msg.payload.Hum\nvar huml = msg.payload.Humlombriz\nvar hump = msg.payload.Humplanta\nvar huminl = global.get(\"Humminl\");\nvar huminp = global.get(\"Humminp\");\nvar humaxl = global.get(\"Hummaxl\");\nvar humaxp = global.get(\"Hummaxp\");\n\nvar Temminl = global.get(\"Temminl\");\nvar Temmaxl = global.get(\"Temmaxl\");\n\n// var alerta = \"Peligro\";\n\nvar graft = [\n    {topic:\"Abiente\", payload: temp, timestamp: t},\n    {topic:\"Planta\", payload: tempp, timestamp: t},\n    {topic:\"Lombrices\", payload: templ, timestamp: t}\n    ];\n\nvar grafh = [\n    {topic:\"Abiente\", payload: hum, timestamp: t},\n    {topic:\"Planta\", payload: hump, timestamp: t},\n    {topic:\"Lombrices\", payload: huml, timestamp: t}\n    ];\n\nif(hum>=80){\n    msgledhum.payload = true;\n    // msghum.payload = alerta;\n}\n\nif(temp>=35){\n    msgledtemp.payload = true;\n    // msgtemp.payload = alerta;\n}\n\n//REVISI칍N VARIABLES LOMBRICES\nif(templ<=Temminl || templ>=Temmaxl){\n    msgledtempl.payload = true;\n    // msgtemp.payload = alerta;\n}\n\nif(huml<=huminl || huml>=humaxl){\n    msgledhuml.payload = true;\n    // msgtemp.payload = alerta;\n}\n\n//REVISI칍N VARIABLES PLANTAS\nif(hump<=huminl || hump>=humaxl){\n    msgledtempp.payload = true;\n    // msgtemp.payload = alerta;\n}\n\nreturn [graft, msgledhum, null, msgledtemp, grafh, msgledhuml, msgledtempl, msgledtempp, null];","outputs":9,"noerr":0,"initialize":"","finalize":"","x":890,"y":1640,"wires":[["437ad3b5.235a9c"],["2fa60980.532356"],["675d8817.9b6be8"],["d9385723.aeabf8"],["dcbbe314.7cef6"],["5a2a116a.0735"],["5485fec.f4828"],["1a932c8c.c80843"],["ad142af2.3f6ba8"]]},{"id":"437ad3b5.235a9c","type":"ui_chart","z":"78991705.4f9488","name":"","group":"a7450594.e8c0e8","order":2,"width":"10","height":"6","label":"Datos Temperaturas","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#c3d100","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1140,"y":1580,"wires":[[]]},{"id":"2fa60980.532356","type":"ui_led","z":"78991705.4f9488","group":"90e3eea0.97ae8","order":2,"width":"6","height":"1","label":"Hum ambiente","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"green","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Led Hum Ambiente","x":1130,"y":1660,"wires":[]},{"id":"675d8817.9b6be8","type":"ui_audio","z":"78991705.4f9488","d":true,"name":"","group":"9c808bd7.e8b228","voice":"Google espa침ol de Estados Unidos","always":false,"x":1100,"y":1740,"wires":[]},{"id":"d9385723.aeabf8","type":"ui_led","z":"78991705.4f9488","group":"90e3eea0.97ae8","order":1,"width":"6","height":"1","label":"Temp ambiente","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"green","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Led Temp Ambiente","x":1140,"y":1700,"wires":[]},{"id":"9e01d041.2a9f1","type":"ui_gauge","z":"a7ac32d3.34049","name":"","group":"9e271ef8.1ed8","order":1,"width":"0","height":"0","gtype":"gage","title":"Melt Temperature","label":"춿F","format":"{{value|number:2}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"700","seg2":"900","x":690,"y":430,"wires":[]},{"id":"370ca89.8f6bd58","type":"ui_chart","z":"a7ac32d3.34049","name":"","group":"c4bae040.b8a2","order":1,"width":0,"height":0,"label":"Melt Temperature","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"awaiting data...","dot":false,"ymin":"0","ymax":"1000","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":690,"y":360,"wires":[[]]},{"id":"1846af0b.57b041","type":"ui_text_input","z":"a7ac32d3.34049","name":"","label":"Ymax","tooltip":"","group":"480f6c25.dd7064","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"ymax","x":210,"y":250,"wires":[["c2d35152.34715"]]},{"id":"8a0b2f22.f0834","type":"ui_text_input","z":"a7ac32d3.34049","name":"","label":"Ymin","tooltip":"","group":"480f6c25.dd7064","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"ymin","x":210,"y":210,"wires":[["c2d35152.34715"]]},{"id":"5bc79b93.b8ddd4","type":"inject","z":"a7ac32d3.34049","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":180,"y":400,"wires":[["bc5ca87b.9f7f28"]]},{"id":"b75a2acd.7692e8","type":"function","z":"a7ac32d3.34049","name":"Format chart","func":"\nvar x = flow.get('chartprops').xaxis.min; //time back in milliseconds\nvar d = new Date().getTime() - x //current time in milliseconds - desired time\ndelete msg.payload;\ndelete msg.topic;\n\n//send all modification in one go\nmsg.ui_control = { \n    options: {\n        scales: {\n            xAxes: [{\n                type: 'time',\n                time: {\n                    min: d\n                }\n            }],\n            yAxes: [{\n            ticks: {\n                suggestedMin: flow.get('chartprops').yaxis.min,\n                suggestedMax: flow.get('chartprops').yaxis.max\n            }\n        }]\n        }\n    }\n}\nreturn msg; \n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":340,"wires":[["370ca89.8f6bd58"]]},{"id":"669f6914.9ebce8","type":"ui_text_input","z":"a7ac32d3.34049","name":"","label":"tiempo","tooltip":"","group":"480f6c25.dd7064","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"time","x":210,"y":160,"wires":[["c2d35152.34715"]]},{"id":"c03dd624.31bc28","type":"inject","z":"a7ac32d3.34049","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":120,"wires":[["aa151019.c5e38"]]},{"id":"aa151019.c5e38","type":"function","z":"a7ac32d3.34049","name":"init chart options in flow","func":"var chartprops = flow.get('chartprops') || {}\n// set same values as in chart configuration\nchartprops.xaxis = {min:3600000}//time frame\nchartprops.yaxis = {min:0,max:1000}//vertical axis limits\nflow.set('chartprops',chartprops)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":120,"wires":[[]]},{"id":"c2d35152.34715","type":"function","z":"a7ac32d3.34049","name":"Store chart options","func":"var chartprops = flow.get('chartprops');\noperador = {};\noperador.payload = global.get('tiempos');\nvar op =  operador.payload;\n\nif (msg.topic == 'tiempos'){\n    flow.set('chartprops',chartprops)\n}\n\nswitch(msg.topic){\n    case 'time':{\n        chartprops.xaxis.min = msg.payload * operador.payload;\n        break\n    }\n    case 'ymin':{\n        chartprops.yaxis.min = msg.payload;\n        break\n    }\n    case 'ymax':{\n        chartprops.yaxis.max = msg.payload;\n        break\n    }\n}\n\nflow.set('chartprops',chartprops)\n// message continues to flow but in next node properties will be deleted\n// it will be used only as change event\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":210,"wires":[["b75a2acd.7692e8","c1c631.209639d"]]},{"id":"9fb507ef.4730d8","type":"inject","z":"a7ac32d3.34049","name":"Resend chart format","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":200,"y":340,"wires":[["b75a2acd.7692e8"]]},{"id":"1e440287.26b14d","type":"comment","z":"a7ac32d3.34049","name":"Resend - read comments !","info":"If minimum time is sent to chart, it will be absolute\nChart does not take it as time frame\nSo if change is in minutes, it is reasonable enough\nto send new min value to chart in every minute\nto hold time frame constant","x":210,"y":300,"wires":[]},{"id":"bc5ca87b.9f7f28","type":"random","z":"a7ac32d3.34049","name":"random between 1 - 500","low":"1","high":"500","inte":"false","property":"payload","x":370,"y":400,"wires":[["370ca89.8f6bd58","9e01d041.2a9f1"]]},{"id":"a48dce0d.85ddd","type":"ui_dropdown","z":"a7ac32d3.34049","name":"","label":"","tooltip":"","place":"Select option","group":"480f6c25.dd7064","order":3,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"Minutos","value":60000,"type":"num"},{"label":"Horas","value":3600000,"type":"num"},{"label":"Semana","value":604800000,"type":"num"}],"payload":"","topic":"tiempos","x":80,"y":60,"wires":[["42403dcc.d68f64","c2d35152.34715"]]},{"id":"c1c631.209639d","type":"debug","z":"a7ac32d3.34049","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":140,"wires":[]},{"id":"42403dcc.d68f64","type":"change","z":"a7ac32d3.34049","name":"","rules":[{"t":"set","p":"tiempos","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":40,"wires":[[]]},{"id":"a89ffdd4.93aef","type":"contrib-json","z":"78991705.4f9488","engine":"JSONSelect","command":"jq","expr":":root > .Lux","complete":"property","prop":"payload","name":"","x":890,"y":1280,"wires":[["75f19d3e.e65f24","a013e2fb.5bc59"]]},{"id":"75f19d3e.e65f24","type":"ui_gauge","z":"78991705.4f9488","name":"","group":"aebd0484.82c348","order":3,"width":"8","height":"4","gtype":"compass","title":"Lux","label":"Lx","format":"{{value}}","min":"0","max":"120000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":1280,"wires":[]},{"id":"a013e2fb.5bc59","type":"change","z":"78991705.4f9488","name":"GlobalLux","rules":[{"t":"set","p":"Lux","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":1280,"wires":[[]]},{"id":"ad142af2.3f6ba8","type":"ui_led","z":"78991705.4f9488","d":true,"group":"90e3eea0.97ae8","order":3,"width":"6","height":"1","label":"Lux Ambiente","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"green","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Led Lux","x":1100,"y":1780,"wires":[]},{"id":"2e2ef047.244ed","type":"serial out","z":"78991705.4f9488","name":"","serial":"2d3b7cb7.38d564","x":2350,"y":380,"wires":[]},{"id":"bc374c7e.5f776","type":"contrib-json","z":"78991705.4f9488","engine":"JSONSelect","command":"jq","expr":":root > .Templombriz","complete":"property","prop":"payload","name":"","x":920,"y":1360,"wires":[["9bcd5da1.bac88","f3b7ebce.be4738"]]},{"id":"72b4b3c1.e7d8fc","type":"json","z":"78991705.4f9488","name":"JSON entrada arduino","property":"payload","action":"","pretty":false,"x":680,"y":1100,"wires":[["c598bb90.ae5f08","8db4237e.dde02","d31df65d.9b2fc8","a89ffdd4.93aef","bc374c7e.5f776","54a2798.8e34b88","14dfb8c7.2d4f17","9ad7ef16.ea192","82f4a0d1.f3b11","1360722e.68062e"]]},{"id":"54a2798.8e34b88","type":"contrib-json","z":"78991705.4f9488","engine":"JSONSelect","command":"jq","expr":":root > .Tempplanta","complete":"property","prop":"payload","name":"","x":910,"y":1400,"wires":[["8f2243a9.2432b","39bb3a8b.239df6"]]},{"id":"14dfb8c7.2d4f17","type":"contrib-json","z":"78991705.4f9488","engine":"JSONSelect","command":"jq","expr":":root > .Humlombriz","complete":"property","prop":"payload","name":"","x":910,"y":1440,"wires":[["c0b699eb.8d4858","5b7b5323.94537c"]]},{"id":"9ad7ef16.ea192","type":"contrib-json","z":"78991705.4f9488","engine":"JSONSelect","command":"jq","expr":":root > .Humplanta","complete":"property","prop":"payload","name":"","x":910,"y":1480,"wires":[["8bd0ab3f.c21648","dec4edf.4a3fb1"]]},{"id":"8bd0ab3f.c21648","type":"ui_gauge","z":"78991705.4f9488","name":"","group":"b0f10ca8.bac46","order":2,"width":"8","height":"5","gtype":"donut","title":"Hum. Planta","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"80","x":1130,"y":1480,"wires":[]},{"id":"c0b699eb.8d4858","type":"ui_gauge","z":"78991705.4f9488","name":"","group":"3bf46f7d.d7f2c","order":2,"width":"4","height":"5","gtype":"donut","title":"Hum. Lombrices","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"80","x":1140,"y":1440,"wires":[]},{"id":"9bcd5da1.bac88","type":"ui_gauge","z":"78991705.4f9488","name":"","group":"3bf46f7d.d7f2c","order":1,"width":"4","height":"5","gtype":"donut","title":"Temp. Lombrices","label":"춿C","format":"{{value}}","min":"-50","max":"50","colors":["#ca3838","#0fe600","#ca3838"],"seg1":"14","seg2":"35","x":1150,"y":1360,"wires":[]},{"id":"8f2243a9.2432b","type":"ui_gauge","z":"78991705.4f9488","name":"","group":"b0f10ca8.bac46","order":1,"width":"8","height":"5","gtype":"donut","title":"Temp. Planta","label":"춿C","format":"{{value}}","min":"-50","max":"50","colors":["#ca3838","#0fe600","#ca3838"],"seg1":"14","seg2":"35","x":1130,"y":1400,"wires":[]},{"id":"f3b7ebce.be4738","type":"change","z":"78991705.4f9488","name":"GlobalTempL","rules":[{"t":"set","p":"TempL","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":1360,"wires":[[]]},{"id":"39bb3a8b.239df6","type":"change","z":"78991705.4f9488","name":"GlobalTempP","rules":[{"t":"set","p":"TempP","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":1400,"wires":[[]]},{"id":"5b7b5323.94537c","type":"change","z":"78991705.4f9488","name":"GlobalHumL","rules":[{"t":"set","p":"HumL","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":1440,"wires":[["c965f2a5.39fe4"]]},{"id":"dec4edf.4a3fb1","type":"change","z":"78991705.4f9488","name":"GlobalHumP","rules":[{"t":"set","p":"HumP","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":1480,"wires":[[]]},{"id":"dcbbe314.7cef6","type":"ui_chart","z":"78991705.4f9488","name":"","group":"a7450594.e8c0e8","order":3,"width":"10","height":"6","label":"Datos Humedades","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#c3d100","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1130,"y":1620,"wires":[[]]},{"id":"42c52f27.e30fb","type":"inject","z":"78991705.4f9488","name":"Inicializar estado v치lvulas off's","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"false","payloadType":"bool","x":1010,"y":300,"wires":[["823c15f1.35c1e8","d65791b7.750e6","50694e3d.dd375","d268d55c.2ca998","a8b125b8.23fe48","7fe68cc3.332604","e195c209.ffac5","af312c62.d52a2","94be490.d50f4b8","5597d3e8.84f88c","7948ed0.7b2ee14","f4d96673.b89758","a9b5fdca.3e91e"]]},{"id":"9b2ede0b.058b4","type":"inject","z":"33d85bda.a64b14","name":"Suspend","props":[{"p":"enabled","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":100,"y":300,"wires":[["e67347b1.8f1cc8"]]},{"id":"a5e74ef8.73beb","type":"inject","z":"33d85bda.a64b14","name":"Resume","props":[{"p":"enabled","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":100,"y":340,"wires":[["bd13f5fd.52a688"]]},{"id":"e67347b1.8f1cc8","type":"ui_button","z":"33d85bda.a64b14","name":"Pause","group":"3e999925.bf7cb6","order":0,"width":0,"height":0,"passthru":false,"label":"Pause","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Pause","payloadType":"str","topic":"Control","x":370,"y":280,"wires":[["8868d699.175698","27e3c0f9.deda9","1f9a3ea2.b4c4f1"]]},{"id":"bd13f5fd.52a688","type":"ui_button","z":"33d85bda.a64b14","name":"Resume","group":"3e999925.bf7cb6","order":0,"width":0,"height":0,"passthru":false,"label":"Resume","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Resume","payloadType":"str","topic":"Control","x":380,"y":340,"wires":[["27e3c0f9.deda9","f5d5b98e.3c1d18","baa58f37.5d381"]]},{"id":"27e3c0f9.deda9","type":"gate","z":"33d85bda.a64b14","name":"Pause Or Resume","controlTopic":"control","defaultState":"open","openCmd":"Resume","closeCmd":"Pause","toggleCmd":"","defaultCmd":"","statusCmd":"","persist":false,"x":560,"y":140,"wires":[["20f15f74.e15ca"]]},{"id":"20f15f74.e15ca","type":"debug","z":"33d85bda.a64b14","name":"Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":140,"wires":[]},{"id":"6d61ccd5.793fe4","type":"inject","z":"33d85bda.a64b14","name":"On (Blue)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5,8","payloadType":"str","x":100,"y":120,"wires":[["27e3c0f9.deda9"]]},{"id":"a946a7ca.02dec8","type":"inject","z":"33d85bda.a64b14","name":"Off (Blue)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"9,6","payloadType":"str","x":100,"y":160,"wires":[["27e3c0f9.deda9"]]},{"id":"8868d699.175698","type":"change","z":"33d85bda.a64b14","name":"Disable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":200,"wires":[["e67347b1.8f1cc8"]]},{"id":"baa58f37.5d381","type":"change","z":"33d85bda.a64b14","name":"Enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":360,"wires":[["e67347b1.8f1cc8"]]},{"id":"f5d5b98e.3c1d18","type":"change","z":"33d85bda.a64b14","name":"Disable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":440,"wires":[["bd13f5fd.52a688"]]},{"id":"1f9a3ea2.b4c4f1","type":"change","z":"33d85bda.a64b14","name":"Enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":280,"wires":[["bd13f5fd.52a688"]]},{"id":"82f4a0d1.f3b11","type":"contrib-json","z":"78991705.4f9488","engine":"JSONSelect","command":"jq","expr":":root > .Ultras","complete":"property","prop":"payload","name":"","x":900,"y":1520,"wires":[["acb7c064.05694","d320a3fa.f487e"]]},{"id":"acb7c064.05694","type":"ui_gauge","z":"78991705.4f9488","name":"","group":"3bf46f7d.d7f2c","order":3,"width":"8","height":"5","gtype":"wave","title":"Humus mezclado","label":"cm","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"80","x":1150,"y":1520,"wires":[]},{"id":"d320a3fa.f487e","type":"change","z":"78991705.4f9488","name":"GlobalLlenhumus","rules":[{"t":"set","p":"Llenhumus","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1520,"wires":[[]]},{"id":"d268d55c.2ca998","type":"ui_switch","z":"78991705.4f9488","name":"","label":"Valv. Agua Lombriz","tooltip":"","group":"75aac7c.5226638","order":3,"width":"3","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1410,"y":800,"wires":[["c0b57d84.3961e"]]},{"id":"c0b57d84.3961e","type":"change","z":"78991705.4f9488","name":"GlobalAguaLombriz","rules":[{"t":"set","p":"agua_lombriz","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":820,"wires":[["4d649980.bbc7b8"]]},{"id":"914aed07.9d4e1","type":"change","z":"78991705.4f9488","name":"disabled modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"agua_lombriz","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":720,"wires":[["d268d55c.2ca998"]]},{"id":"dcb9f51a.afe088","type":"change","z":"78991705.4f9488","name":"enable modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"agua_lombriz","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1810,"y":760,"wires":[["d268d55c.2ca998"]]},{"id":"f5b0f570.91e648","type":"chatbot-message","z":"78991705.4f9488","name":"Valva","message":[{"message":"{{msgvalva}}"}],"language":"none","x":750,"y":700,"wires":[["765292fc.2dfeec"]]},{"id":"197df861.d05b68","type":"delay","z":"78991705.4f9488","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":700,"wires":[["f5b0f570.91e648"]]},{"id":"4b5cbf4f.d82bb","type":"ui_date_picker","z":"78991705.4f9488","name":"","label":"Fecha inicio","group":"caca1f1c.76174","order":5,"width":0,"height":0,"passthru":true,"topic":"","x":1790,"y":1300,"wires":[["6706b809.562968"]]},{"id":"431e9a23.3cc974","type":"ui_numeric","z":"78991705.4f9488","name":"","label":"Frecuencia (en semanas)","tooltip":"","group":"caca1f1c.76174","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":1790,"y":1340,"wires":[["3e2a1dda.97d4a2"]]},{"id":"8d70150a.d6f888","type":"change","z":"78991705.4f9488","name":"Fecha inicio riego","rules":[{"t":"set","p":"fecha_inicio","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":1300,"wires":[["e2fc59a4.0bc578"]]},{"id":"2a3f65c9.78dc7a","type":"change","z":"78991705.4f9488","name":"Frecuencia riego","rules":[{"t":"set","p":"frec_riego","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":1340,"wires":[["e2fc59a4.0bc578"]]},{"id":"6635ed83.8f67e4","type":"csv","z":"78991705.4f9488","name":"","sep":";","hdrin":false,"hdrout":"once","multi":"one","ret":"\\n","temp":"Hum,Temp,modo,valvap,valval,valvh,valvhhumus,valvhagua,TempL,TempP,HumP,HumL,Lux","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1250,"y":1080,"wires":[["bfde5c77.d98ed"]]},{"id":"e227455c.79aec8","type":"file","z":"78991705.4f9488","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1550,"y":1080,"wires":[[]]},{"id":"bfde5c77.d98ed","type":"change","z":"78991705.4f9488","name":"NameFile","rules":[{"t":"set","p":"filename","pt":"msg","to":"fechadatos","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1080,"wires":[["e227455c.79aec8"]]},{"id":"ba039fd0.3b4cc","type":"change","z":"78991705.4f9488","name":"Fecha datos - HOY","rules":[{"t":"set","p":"fechadatos","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2330,"y":780,"wires":[[]]},{"id":"1360722e.68062e","type":"delay","z":"78991705.4f9488","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":1120,"wires":[["4613375f.056c78"]]},{"id":"60373993.48ca48","type":"switch","z":"78991705.4f9488","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2110,"y":560,"wires":[["349fae0c.f72cf2"]]},{"id":"a8b125b8.23fe48","type":"change","z":"78991705.4f9488","name":"BoolProceso","rules":[{"t":"set","p":"proceso","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2490,"y":560,"wires":[[]]},{"id":"843c9899.f18508","type":"inject","z":"78991705.4f9488","name":"Inicializar estado v치lvulas off's","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"0","payloadType":"num","x":530,"y":420,"wires":[["9a839d6c.81e8a"]]},{"id":"9a839d6c.81e8a","type":"change","z":"78991705.4f9488","name":"Estado del  proceso","rules":[{"t":"set","p":"state","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":420,"wires":[[]]},{"id":"7fe68cc3.332604","type":"change","z":"78991705.4f9488","name":"Finalizacion estados","rules":[{"t":"set","p":"endstate","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":140,"wires":[[]]},{"id":"e195c209.ffac5","type":"change","z":"78991705.4f9488","name":"InitBoolProceso","rules":[{"t":"set","p":"proceso","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":480,"wires":[[]]},{"id":"af312c62.d52a2","type":"change","z":"78991705.4f9488","name":"valvh_humus","rules":[{"t":"set","p":"valvh_humus","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":180,"wires":[["6391a64c.e142d8"]]},{"id":"94be490.d50f4b8","type":"change","z":"78991705.4f9488","name":"valvh_agua","rules":[{"t":"set","p":"valvh_agua","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":220,"wires":[["d93b5f49.51a9"]]},{"id":"5597d3e8.84f88c","type":"change","z":"78991705.4f9488","name":"humuson","rules":[{"t":"set","p":"humuson","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":260,"wires":[["d8989ac4.8be478"]]},{"id":"52e7821d.244e8c","type":"comment","z":"78991705.4f9488","name":"Var mezcla humus","info":"Inicializaci칩n en false de todas las variables involucradas en proceso de mezcla de humus","x":1450,"y":200,"wires":[]},{"id":"77c6a4e1.f626bc","type":"switch","z":"78991705.4f9488","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":2290,"y":720,"wires":[["81831149.c2c76"],["25f295a8.48c37a"]]},{"id":"81831149.c2c76","type":"change","z":"78991705.4f9488","name":"disabled modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"humus","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":2520,"y":700,"wires":[["50694e3d.dd375"]]},{"id":"25f295a8.48c37a","type":"change","z":"78991705.4f9488","name":"enable modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"humus","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":2510,"y":740,"wires":[["50694e3d.dd375"]]},{"id":"7c058db1.6cb144","type":"debug","z":"78991705.4f9488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":1140,"wires":[]},{"id":"a99ef9e1.29fb28","type":"debug","z":"78991705.4f9488","name":"telegram","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":380,"wires":[]},{"id":"d44b7a03.cc7de8","type":"function","z":"78991705.4f9488","name":"EvaluacionRango","func":"newmsg = {};\nnewmsg2 = {};\n\nvar modo = msg.payload.modo;\nvar huml = global.get(\"HumL\");\nvar hump = global.get(\"HumP\");\nvar huminl = global.get(\"Humminl\");\nvar huminp = global.get(\"Humminp\");\nvar lux = global.get(\"Lux\");\nvar aux = false;\nvar aux2 = false;\n\n// var humL = msg.payload.Humlombriz\nvar humP = msg.payload.Humplanta;\n//var huminl = msg.payload.Humminl;\n// var huminp = msg.payload.Humminp;\n\n// humL = parseInt(humL, 10);\n\nif(modo){\n    if(huml<(huminl-5)){\n        newmsg.payload = true;\n        aux = true;\n    }\n    else{\n        newmsg.payload = false;\n        aux = true;\n    }\n    \n    if(hump<(huminp-5) && lux <=20){\n        newmsg2.payload = true;\n        aux2 = true;\n    }\n    else{\n        newmsg2.payload = false;\n        aux2 = true;\n    }\n}\n\n\nif((aux==true && aux2==true)){\n    return [newmsg,newmsg2];\n}\nelse if(aux && aux2==false){\n    return [newmsg,null];\n}\nelse if(aux==false && aux2){\n    return [null,newmsg2];\n}\nelse if(aux==false && aux2==false){\n    return [null,null];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":2110,"y":920,"wires":[["5116be12.fd964","d268d55c.2ca998"],["aa3b47c9.a1b5a8","823c15f1.35c1e8"]]},{"id":"78cb4f5.aa86db","type":"ui_numeric","z":"78991705.4f9488","name":"","label":"Humedad M칤n. Lombriz","tooltip":"","group":"caca1f1c.76174","order":6,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"5","x":1790,"y":1380,"wires":[["c6d19c0.4910368"]]},{"id":"c6d19c0.4910368","type":"change","z":"78991705.4f9488","name":"Hum M칤nima Lombriz","rules":[{"t":"set","p":"Humminl","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":1380,"wires":[[]]},{"id":"783352e8.2dc15c","type":"ui_numeric","z":"78991705.4f9488","name":"","label":"Humedad M칤n. Planta","tooltip":"","group":"caca1f1c.76174","order":6,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"5","x":1780,"y":1460,"wires":[["aca605b2.4443a8"]]},{"id":"aca605b2.4443a8","type":"change","z":"78991705.4f9488","name":"Hum M칤nima Planta","rules":[{"t":"set","p":"Humminp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010,"y":1460,"wires":[[]]},{"id":"abe73eff.38205","type":"template","z":"78991705.4f9488","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"modo\":{{global.modo}}}","output":"str","x":1700,"y":900,"wires":[["aca69958.229c88"]]},{"id":"aca69958.229c88","type":"json","z":"78991705.4f9488","name":"JSON prueba","property":"payload","action":"","pretty":false,"x":1880,"y":900,"wires":[["e126a221.11ed7"]]},{"id":"f4975de7.b95c2","type":"inject","z":"78991705.4f9488","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"75","payloadType":"num","x":1590,"y":1400,"wires":[["78cb4f5.aa86db","783352e8.2dc15c"]]},{"id":"5116be12.fd964","type":"debug","z":"78991705.4f9488","name":"lombriz","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2340,"y":960,"wires":[]},{"id":"aa3b47c9.a1b5a8","type":"debug","z":"78991705.4f9488","name":"planta","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2330,"y":1000,"wires":[]},{"id":"e126a221.11ed7","type":"function","z":"78991705.4f9488","name":"Val_Ultras","func":"newmsg = {};\nnewmsg2 = {};\nnewmsg3 = {};\nnewmsg4 = {};\n\nbombhumus = {};\nbombagua = {};\nbombaextraer = {};\n\nfecha = {};\n// modo=global.get(\"modo\"); //estado modo\nhumus=global.get(\"humus\");  //estado valvula humus\nAuxproceso=global.get(\"proceso\");  //estado interacci칩n con proceso\nultrasonido=global.get(\"Llenhumus\");  //valor de ultrasonido\nstate=global.get(\"state\");  //Estado del proceso en el que est치\nendstate=global.get(\"endstate\");\nd=global.get(\"Llenhumus\");\nriego_ok=global.get(\"riego_ok\"); \n\nvar min = 20;\nvar max = 11;\nvar total = 27;\n\n//Se obtiene, d칤a, mes y a침o al d칤a de hoy\ndia=new Date().getDate();\nmes=new Date().getMonth();\nano=new Date().getFullYear();\n\n//Se construye el nombre para el fichero\nvar prueba = \"C:/Users/jandr/Desktop/FicherosTesis/\" + dia + \"_\" + mes + \"_\" + ano + \"_Data.csv\"\n// global.set(\"fecha\", prueba);\nfecha.payload = prueba;\n\nif(Auxproceso==true && state<3 && endstate==false){\n    newmsg.payload=Auxproceso;\n    newmsg3.payload=endstate;\n    if(d>min && state==0){\n        bombhumus.payload = true;\n        bombagua.payload = false;\n        bombaextraer.payload = false;\n        state=1;\n        global.set(\"state\",state);\n        newmsg2.payload=state;\n        return [bombhumus,bombagua,bombaextraer,fecha,newmsg,newmsg2,newmsg3];\n    }\n    else if(d<=min && d>=max && state==1){\n        bombhumus.payload = false;\n        bombagua.payload = true;\n        bombaextraer.payload = false;\n        state=2;\n        global.set(\"state\",state);\n        newmsg2.payload=state;\n        return [bombhumus,bombagua,bombaextraer,fecha,newmsg,newmsg2,newmsg3];\n        }\n    else if(d<max && state==2){\n        bombhumus.payload = false;\n        bombagua.payload = false;\n        bombaextraer.payload = true;\n        state=3;\n        global.set(\"state\",state);\n        newmsg2.payload=state;\n        return [bombhumus,bombagua,bombaextraer,fecha,newmsg,newmsg2,newmsg3];\n    }\n    \n}\n\nif(Auxproceso==true && state>2 && endstate==false){\n    newmsg.payload=Auxproceso;\n    if(d<=(total-1) && humus==true && state==3){\n        bombhumus.payload = false;\n        bombagua.payload = false;\n        bombaextraer.payload = true;\n        state=4;\n        global.set(\"state\",state);\n        newmsg2.payload=state;\n        newmsg3.payload=endstate;\n        return [bombhumus,bombagua,bombaextraer,fecha,newmsg,newmsg2,newmsg3];\n    }\n    \n    else if(d>=(total-1) && state==4){\n        bombhumus.payload = false;\n        bombagua.payload = false;\n        bombaextraer.payload = false;\n        \n        state=0;\n        global.set(\"state\",state);\n        Auxproceso=false;\n        global.set(\"proceso\",Auxproceso);\n        endstate=true;\n        global.set(\"humus\",false);\n        riego_ok = false;\n        global.set(\"riego_ok\",riego_ok);\n        newmsg2.payload=state;\n        newmsg3.payload=endstate;\n        newmsg.payload=Auxproceso;\n        return [bombhumus,bombagua,bombaextraer,fecha,newmsg,newmsg2,newmsg3];\n    }\n    \n}\nreturn [null,null,null,fecha,null,null,null];\n// if (Auxproceso==false){\n//     newmsg.payload=Auxproceso;\n//     newmsg2.payload=state;\n//     newmsg3.payload=endstate;\n//     bombhumus.payload = false;\n//     bombagua.payload = false;\n//     bombaextraer.payload = false;\n//     global.set(\"humus\",false);\n//     return [bombhumus,bombagua,bombaextraer,fecha,newmsg,newmsg2,newmsg3];\n// }","outputs":7,"noerr":0,"initialize":"","finalize":"","x":2090,"y":760,"wires":[["77c6a4e1.f626bc","6391a64c.e142d8"],["d93b5f49.51a9"],["9898f561.6096f8","d8989ac4.8be478"],["ba039fd0.3b4cc"],["82e1304b.8667","77c6a4e1.f626bc"],["9c86dc61.8e3d9"],["8894712e.5e8fb"]]},{"id":"9c88b1af.8e5b3","type":"debug","z":"78991705.4f9488","name":"env칤o","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2370,"y":480,"wires":[]},{"id":"d93b5f49.51a9","type":"ui_switch","z":"78991705.4f9488","name":"","label":"Bomba Agua","tooltip":"","group":"75aac7c.5226638","order":4,"width":"3","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2670,"y":220,"wires":[["89971fd3.5a237"]]},{"id":"6391a64c.e142d8","type":"ui_switch","z":"78991705.4f9488","name":"","label":"Bomba Humus","tooltip":"","group":"75aac7c.5226638","order":4,"width":"3","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2680,"y":180,"wires":[["b87e6807.359408"]]},{"id":"d8989ac4.8be478","type":"ui_switch","z":"78991705.4f9488","name":"","label":"Bomba humus extraer","tooltip":"","group":"75aac7c.5226638","order":4,"width":"3","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2700,"y":260,"wires":[["2ef2d83f.087b98"]]},{"id":"b87e6807.359408","type":"change","z":"78991705.4f9488","name":"valvh_humus","rules":[{"t":"set","p":"valvh_humus","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2850,"y":180,"wires":[["554b0083.5e04c"]]},{"id":"89971fd3.5a237","type":"change","z":"78991705.4f9488","name":"valvh_agua","rules":[{"t":"set","p":"valvh_agua","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2870,"y":220,"wires":[["554b0083.5e04c"]]},{"id":"2ef2d83f.087b98","type":"change","z":"78991705.4f9488","name":"humuson","rules":[{"t":"set","p":"humuson","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2900,"y":260,"wires":[["554b0083.5e04c"]]},{"id":"82e1304b.8667","type":"debug","z":"78991705.4f9488","name":"auxproceso","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2450,"y":840,"wires":[]},{"id":"9c86dc61.8e3d9","type":"debug","z":"78991705.4f9488","name":"state","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2430,"y":860,"wires":[]},{"id":"8894712e.5e8fb","type":"debug","z":"78991705.4f9488","name":"endstate","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2440,"y":880,"wires":[]},{"id":"554b0083.5e04c","type":"template","z":"78991705.4f9488","name":"variables humus","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"valh\":{{global.humuson}},\"valvhh\":{{global.valvh_humus}},\"valvha\":{{global.valvh_agua}}}\n","output":"str","x":2200,"y":340,"wires":[["2e2ef047.244ed","9c88b1af.8e5b3"]]},{"id":"351edfd2.4e622","type":"inject","z":"78991705.4f9488","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":1830,"y":840,"wires":[["abe73eff.38205"]]},{"id":"7948ed0.7b2ee14","type":"change","z":"78991705.4f9488","name":"disabled modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":300,"wires":[["6391a64c.e142d8","d93b5f49.51a9","d8989ac4.8be478"]]},{"id":"349fae0c.f72cf2","type":"delay","z":"78991705.4f9488","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2260,"y":560,"wires":[["a8b125b8.23fe48"]]},{"id":"e2fc59a4.0bc578","type":"function","z":"78991705.4f9488","name":"definir pr칩ximo riego","func":"fechainit=global.get(\"fecha_inicio\"); //fecha inicio\nfrec=global.get(\"frec_riego\");  //frec \nnewmsg = {};\nnewmsg2 = {};\n\n\nvar date = new Date(fechainit);\nvar suma = date.setDate(date.getDate() + (frec*7));\n// var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\n// var suma = date.setDate(date.getDate() + frec);\nvar convertir = new Date(suma);\n\nvar mes = convertir.getMonth();\nvar ano = convertir.getFullYear();\nvar dia = convertir.getDate();\n\nif(mes==12){\n    mes = convertir.getMonth()-11;\n}\nelse mes = convertir.getMonth()+1;\n\n\n// newmsg.payload = suma;\nnewmsg.payload = dia + \"/\" + mes + \"/\" + ano;\nnewmsg2.payload = convertir;\n\nreturn [newmsg,newmsg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":2400,"y":1320,"wires":[["9685f882.364248","d1ddbaf0.fef4c8"],["79729795.804d18"]]},{"id":"9685f882.364248","type":"ui_text","z":"78991705.4f9488","group":"caca1f1c.76174","order":0,"width":"6","height":"2","name":"","label":"Pr칩ximo riego","format":"{{msg.payload}}","layout":"row-center","x":2620,"y":1340,"wires":[]},{"id":"6fdd6e37.da0ca","type":"change","z":"78991705.4f9488","d":true,"name":"disabled modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":1020,"wires":[["4b5cbf4f.d82bb","431e9a23.3cc974"]]},{"id":"afff16ad.9ffa38","type":"change","z":"78991705.4f9488","d":true,"name":"enable modo autom치tico","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1810,"y":1060,"wires":[["4b5cbf4f.d82bb","431e9a23.3cc974"]]},{"id":"341b1be9.3deb74","type":"json","z":"78991705.4f9488","name":"JSON prueba","property":"payload","action":"","pretty":false,"x":1880,"y":960,"wires":[["d44b7a03.cc7de8"]]},{"id":"c965f2a5.39fe4","type":"template","z":"78991705.4f9488","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"modo\":{{global.modo}}}","output":"str","x":1700,"y":960,"wires":[["341b1be9.3deb74"]]},{"id":"90af68dc.134ec8","type":"change","z":"78991705.4f9488","name":"enviar false","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":660,"wires":[["f5bb95c.392d868","847fb830.5f73d8"]]},{"id":"f3f77954.87a858","type":"switch","z":"78991705.4f9488","name":"evaluar false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1870,"y":660,"wires":[["90af68dc.134ec8"]]},{"id":"6706b809.562968","type":"switch","z":"78991705.4f9488","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"1609459200","vt":"num"},{"t":"gte","v":"1609459200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1950,"y":1300,"wires":[["1e19cf6c.6eb241"],["8d70150a.d6f888"]]},{"id":"ccd944b0.84c5c8","type":"inject","z":"78991705.4f9488","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2210,"y":1140,"wires":[["2dca3f4e.af2cd"]]},{"id":"1e19cf6c.6eb241","type":"change","z":"78991705.4f9488","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"fecha_inicio","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1900,"y":1240,"wires":[["4b5cbf4f.d82bb"]]},{"id":"3e2a1dda.97d4a2","type":"switch","z":"78991705.4f9488","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"1","vt":"num"},{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1970,"y":1340,"wires":[["9cd5b17a.3012"],["2a3f65c9.78dc7a"]]},{"id":"9cd5b17a.3012","type":"change","z":"78991705.4f9488","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"frec_riego","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1900,"y":1200,"wires":[["431e9a23.3cc974"]]},{"id":"f5bb95c.392d868","type":"delay","z":"78991705.4f9488","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1300,"y":880,"wires":[["d268d55c.2ca998"]]},{"id":"847fb830.5f73d8","type":"delay","z":"78991705.4f9488","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1880,"y":320,"wires":[["823c15f1.35c1e8","d70bfa47.ee5178"]]},{"id":"2dca3f4e.af2cd","type":"function","z":"78991705.4f9488","name":"actualizar fecha y notificaciones","func":"fechahoy = msg.payload;  //estado modo\nproxriego = global.get(\"proxriego\");  //proximo riego\nfrec=global.get(\"frec_riego\");  //frec \nvar mensaje = \"Recuerde hacer el riego del humus!, han pasado \"+ frec +\" semanas desde la ultima vez\";\nnotificar = {};\nnotificarpc = {};\nactualizar = {};\n\n//-------------FECHA HOY-------------------------\nvar date2 = new Date(fechahoy);\nvar mes2 = date2.getMonth();\nvar ano2 = date2.getFullYear();\nvar dia2 = date2.getDate();\nif(mes2==12){\n    mes2 = date2.getMonth()-11;\n}\nelse mes2 = date2.getMonth()+1;\n//-------------FECHA SIGUIENTE-------------------------\nvar date = new Date(proxriego);\nvar mes = date.getMonth();\nvar ano = date.getFullYear();\nvar dia = date.getDate();\nif(mes==12){\n    mes = date.getMonth()-11;\n}\nelse mes = date.getMonth()+1;\n//--------------------------------------\n\nvar fechahoy = dia2 + \"/\" + mes2 + \"/\" + ano2;\nvar fechasiguiente = dia + \"/\" + mes + \"/\" + ano;\n\nif ((dia==dia2) && (mes==mes2) && (ano==ano2)){\n    notificarpc.payload = \"Recuerde hacer el riego del humus!, han pasado \"+ frec +\" semanas desde la ultima vez\";\n    notificarpc.topic = \"RIEGO HUMUS\";\n   \n    notificar.payload = \"{\\\"type\\\":\\\"message\\\",\\\"content\\\":\\\"\" + mensaje + \"\\\",\\\"chatId\\\":500449756}\";\n    \n    return [notificar, notificarpc, null];\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":2450,"y":1140,"wires":[["259c37ca.4c69d8"],["59bda122.0de57"],[]]},{"id":"d1ddbaf0.fef4c8","type":"change","z":"78991705.4f9488","name":"Fecha proximo riego humano","rules":[{"t":"set","p":"proxriegohumano","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2660,"y":1300,"wires":[[]]},{"id":"a617beb4.5a72a","type":"debug","z":"78991705.4f9488","name":"msg1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2890,"y":1180,"wires":[]},{"id":"6b18063a.395b58","type":"inject","z":"78991705.4f9488","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1570,"y":1340,"wires":[["431e9a23.3cc974"]]},{"id":"f4d96673.b89758","type":"change","z":"78991705.4f9488","name":"validar riego autom치tico","rules":[{"t":"set","p":"riego_ok","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":100,"wires":[[]]},{"id":"2f5ae762.0836f8","type":"change","z":"78991705.4f9488","name":"guardar fecha para validar","rules":[{"t":"set","p":"fechaguardar","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":40,"wires":[["5196e16a.104f1"]]},{"id":"9c54f690.11dfa8","type":"inject","z":"78991705.4f9488","name":"Inicializar estado v치lvulas off's","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"false","payloadType":"bool","x":990,"y":60,"wires":[["2f5ae762.0836f8"]]},{"id":"79729795.804d18","type":"change","z":"78991705.4f9488","name":"Fecha proximo riego timestamp","rules":[{"t":"set","p":"proxriego","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2670,"y":1260,"wires":[[]]},{"id":"5196e16a.104f1","type":"debug","z":"78991705.4f9488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1580,"y":60,"wires":[]},{"id":"9898f561.6096f8","type":"delay","z":"78991705.4f9488","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2540,"y":440,"wires":[["d8989ac4.8be478"]]},{"id":"59bda122.0de57","type":"ui_toast","z":"78991705.4f9488","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Notificaci칩n PC","x":2700,"y":1160,"wires":[[]]},{"id":"259c37ca.4c69d8","type":"json","z":"78991705.4f9488","name":"JSON prueba","property":"payload","action":"","pretty":false,"x":2700,"y":1120,"wires":[["e4380e5.b60c9f","a617beb4.5a72a"]]},{"id":"e4380e5.b60c9f","type":"telegram sender","z":"78991705.4f9488","d":true,"name":"","bot":"c3a7dfed.91e93","x":2930,"y":1120,"wires":[[]]},{"id":"f72f49b9.eaa7a8","type":"debug","z":"78991705.4f9488","name":"env칤o","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2630,"y":500,"wires":[]},{"id":"e9856a21.ea3a78","type":"ui_numeric","z":"78991705.4f9488","name":"","label":"Humedad M치x. Lombriz","tooltip":"","group":"caca1f1c.76174","order":6,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"5","x":1790,"y":1420,"wires":[["680408ed.f44428"]]},{"id":"680408ed.f44428","type":"change","z":"78991705.4f9488","name":"Hum Maxima Lombriz","rules":[{"t":"set","p":"Hummaxl","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":1420,"wires":[[]]},{"id":"311bdd62.04e302","type":"ui_numeric","z":"78991705.4f9488","name":"","label":"Humedad M치x. Planta","tooltip":"","group":"caca1f1c.76174","order":6,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"5","x":1780,"y":1500,"wires":[["44041a3a.f3c244"]]},{"id":"44041a3a.f3c244","type":"change","z":"78991705.4f9488","name":"Hum M치xima Planta","rules":[{"t":"set","p":"Hummaxp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":1500,"wires":[[]]},{"id":"aa9ed3bf.57be2","type":"inject","z":"78991705.4f9488","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"90","payloadType":"num","x":1590,"y":1460,"wires":[["e9856a21.ea3a78","311bdd62.04e302"]]},{"id":"5a2a116a.0735","type":"ui_led","z":"78991705.4f9488","group":"90e3eea0.97ae8","order":4,"width":"6","height":"1","label":"Hum Lombriz","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"green","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Hum Lombriz","x":1110,"y":1840,"wires":[]},{"id":"5485fec.f4828","type":"ui_led","z":"78991705.4f9488","group":"90e3eea0.97ae8","order":5,"width":"6","height":"1","label":"Temp lombriz","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"green","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Temp lombriz","x":1110,"y":1880,"wires":[]},{"id":"1a932c8c.c80843","type":"ui_led","z":"78991705.4f9488","group":"90e3eea0.97ae8","order":6,"width":"6","height":"1","label":"Hum Planta","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"green","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Hum Planta","x":1110,"y":1940,"wires":[]},{"id":"96f49312.c8eaa","type":"ui_numeric","z":"78991705.4f9488","name":"","label":"Temperatura M칤n. Lombriz","tooltip":"","group":"caca1f1c.76174","order":6,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"5","x":1800,"y":1580,"wires":[["950bea33.431b88"]]},{"id":"950bea33.431b88","type":"change","z":"78991705.4f9488","name":"Tem M칤nima Lombriz","rules":[{"t":"set","p":"Temminl","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2060,"y":1580,"wires":[[]]},{"id":"80fcc706.868328","type":"ui_numeric","z":"78991705.4f9488","name":"","label":"Temperatura Max. Lombriz","tooltip":"","group":"caca1f1c.76174","order":6,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"5","x":1800,"y":1620,"wires":[["5cf02892.b12ec8"]]},{"id":"5cf02892.b12ec8","type":"change","z":"78991705.4f9488","name":"Tem M치xima lombriz","rules":[{"t":"set","p":"Temmaxl","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2060,"y":1620,"wires":[[]]},{"id":"79a2554b.e4073c","type":"inject","z":"78991705.4f9488","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"14","payloadType":"num","x":1590,"y":1580,"wires":[["96f49312.c8eaa"]]},{"id":"ded9a5f7.38bb88","type":"inject","z":"78991705.4f9488","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"27","payloadType":"num","x":1590,"y":1620,"wires":[["80fcc706.868328"]]},{"id":"d70bfa47.ee5178","type":"debug","z":"78991705.4f9488","name":"delay?","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1670,"y":320,"wires":[]},{"id":"a9b5fdca.3e91e","type":"debug","z":"78991705.4f9488","name":"estado modo","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":540,"wires":[]}]